---
layout: "triplecolumn"

title: Geriatric Medicine

unit: Geriatric Medicine

navitems:
    - label:  Introduction
      url:   /units/geriatrics
    - label:  Team
      url:   /units/geriatrics/team
    - label:  Publications
      url:   /units/geriatrics/publications
    - label:  Research
      url:   /units/geriatrics/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Geriatric Medicine Unit
<figure class="hidden md:inline float-right">
  <img alt="HOD" class=" m-0 p-0  w-48 max-auto " src="/static/img/portraits/image34.png"/>
            <figcaption class=" px-4 py-4 text-center text-sm font-base"><p>Prof. Dr. Chin Ai-Vyrn<p><p>Head of Unit</p></figcaption>
  </figure>
The Geriatric Medicine unit is one of the subspecialized units within the Department of Medicine. 
It provides various services, training, and research in the field of geriatric medicine.

{% endrenderTemplate %}
</article>



