---
layout: "sidebar"

title: Geriatric Medicine Research

unit: Geriatric Medicine

navitems:
    - label:  Introduction
      url:   /units/geriatrics
    - label:  Team
      url:   /units/geriatrics/team
    - label:  Publications
      url:   /units/geriatrics/publications
    - label:  Research
      url:   /units/geriatrics/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---


<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Active clinical trials

(insert list here)


{% endrenderTemplate %}
</article>