---
layout: "sidebar"

title: Geriatric Medicine Team

unit: Geriatric Medicine

navitems:
    - label:  Introduction
      url:   /units/geriatrics
    - label:  Team
      url:   /units/geriatrics/team
    - label:  Publications
      url:   /units/geriatrics/publications
    - label:  Research
      url:   /units/geriatrics/research


titleimage: "/static/img/units/id.jpg"
---

{% from 'partials/unitstaff.njk' import unitstaff %}


{{ unitstaff(people, unit) }}

