{% include "./partials/nav.njk" %}

<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
<article class="prose lg:prose-xl">
{{ content | safe }}
</article>


   </div>
</section>

{% include "./partials/footer.njk" %}

