---
layout: "default"
---

{% include "../_includes/partials/newsblock.njk" %}



<div class="grid grid-cols-1 md:grid-cols-4 gap-12 p-8">
    <div  class="col-span-4 md:col-span-1 content-start">
    <div class="bg-gray-100 p-2">
      <ul>
        {% for item in navitems %}
        <li class="p-2 underline decoration-{{ settings.accentcolor }} decoration-2 underline-offset-4"><a class="decoration-transparent" href="{{ item.url }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
    </div>

    
    <div class="col-span-4 md:col-span-2">

 {{ content | safe }}
      
  </div>
{%if linkitems%}
    <div class="col-span-4 md:col-span-1 max-w-prose ">
      <div  class="col-span-5 md:col-span-1 content-start">
    <div class=" p-2">
      <ul>
        {% for item in linkitems %}
        <li class=" p-2 border-b-2"><a href="{{ item.url }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
    </div>
    </div>
    {% endif %}
  </div>

  {% include "./partials/events.njk" %}




