---
layout: "default"
eleventyImport:
  collections: [unitnews]
---
{% from 'partials/unitservices.njk' import unitservices %}
{% from 'partials/unitnews.njk' import unitnews %}

{% if titleimage %}
  <div class="max-w-full mx-auto">

    <div style="background-image: url({{ titleimage }});" class="w-full bg-center bg-cover h-64" >

      <div class="flex items-center justify-start w-full h-full backdrop-filter backdrop-grayscale py-12">
        <div class="text-center ">
          <div class="container px-4 mx-auto">
            <div class="max-w-4xl ">
              <h2 class="mt-8 mb-6 text-4xl md:text-7xl font-bold text-right leading-9 text-gray-100">
                <span class="highlighter">{{ unit }}</span></h2>
            </div>
          </div>
        </div>
      </div>

    {% endif %}

    <div class="grid grid-cols-1 md:grid-cols-4 gap-12 p-8">
      <div  class="col-span-4 md:col-span-1 content-start">
        <div class="bg-gray-100 p-2">
          <ul>
            {% for item in navitems %}
              <li class="p-2 underline decoration-{{ settings.accentcolor }} decoration-2 underline-offset-4">
                <a class="decoration-transparent" href="{{ item.url }}">{{ item.label }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-span-4 md:col-span-2">

        {{ content | safe }}

      </div>
      {%if linkitems%}
        <div class="col-span-4 md:col-span-1 max-w-prose">
          <div  class="col-span-5 md:col-span-1 content-start">
            <div class=" p-2">
              <ul>
                {% for item in linkitems %}
                  <li class=" p-2 border-b-2">
                    <a href="{{ item.url }}">{{ item.label }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    {% if services %}
      {{ unitservices(unit, services) }}
    {% endif %}

    {% if unitnewsitems %}

      {{ unitnews(unit, unitnewsitems) }}

    {% endif %}