---
layout: "bio"
image: image114.png
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Dr Han Winn Hui

Dr Han is a clinical specialist and general physician at the University of Malaya
Medical Centre (UMMC). She graduated from the University of Edinburgh with
MBChB in 2008 and subsequently completed the MRCPI in 2014. She has
extensive experience in Internal Medicine in various major hospitals in Malaysia.
Besides having a passion for medical education, Dr Han also has interests in
medical dermatology and laser medicine. She is also involved in various clinical
trials and has published many papers in peer-reviewed journals.

{% endrenderTemplate %}
</article>