---
layout: "bio"
image: image33.png
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Assoc. Prof. Dr. Kwan Zhenli

Assoc Prof Kwan is a consultant dermatologist and Mohs micrographic surgeon at the University of Malaya Medical Centre (UMMC) and UM Specialist Centre. After qualifying with an MBBS from the University of Malaya in 2008, she was awarded the MRCP (UK) in 2010 and graduated with the Advanced Master in Dermatology from Universiti Kebangsaan Malaysia in 2016. She also obtained the Specialty Certificate in Dermatology from the Royal Colleges of Physicians in the same year. Assoc Prof Kwan then pursued fellowship training at the prestigious St. John’s Institute of Dermatology, United Kingdom and was awarded a Fellowship in Mohs and Advanced Dermatological Surgery in 2022. She heads the Division of Dermatology in UMMC and spearheads the Mohs micrographic surgery service for the treatment of skin cancers. Her other interests include psoriasis and the use of technology in Dermatology. Her Instagram handle is @drzhenli.

{% endrenderTemplate %}
</article>