---
layout: "bio"
image: image115.png
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Dr. Nik Aimee Azizah Faheem

Dr Nik Aimee is a dermatologist and general physician at the University of Malaya Medical Centre (UMMC). She graduated with honours from the National University of Ireland, Galway in 2010 and obtained her MRCP (UK) in 2017. She completed her subspecialty training in Dermatology, obtaining the Advanced Master in Dermatology from Universiti Kebangsaan Malaysia in 2022. Dr Aimee has an interest in laser medicine.

{% endrenderTemplate %}
</article>