---
layout: "bio"
image: 
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Dr. Richard Barlow
Dr Barlow is a senior consultant dermatologist and dermatological surgeon. He qualified with MBBCh from the University of Witwatersrand before performing his postgraduate general medical training at Hammersmith Hospital and the Royal Postgraduate Medical School in London. He has been awarded an MD in physical urticarias from the University of London and completed general dermatology training at St John’s Institute of Dermatology in London. Dr Barlow spent a year as Fellow in Advanced Dermatologic and Mohs Surgery in Portland, Oregon and has been a consultant at St John’s Institute of Dermatology since 1996. He was awarded the FRCP UK in 2001. His clinical and research interests include skin cancer management (including Mohs micrographic surgery), cutaneous laser surgery and cosmetic dermatology. Dr Barlow was the founding President of the British Cosmetic Dermatology Group and the President of the St John’s Dermatology Society (2009/10).


{% endrenderTemplate %}
</article>
