---
layout: "bio"
image: 
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Dr. Wong Su-Ming

Dr Wong is an accredited physician and dermatologist on the Malaysian Medical Council’s National Specialist Register. She was formally a lecturing dermatologist at the University of Malaya, and is still a visiting consultant at University of Malaya Medical Centre. Dr Wong graduated from Queen’s University Belfast, UK in 2000 and completed her post-graduate internal medicine specialisation from the Royal College of Physicians (MRCP UK) in 2004. She holds a Diploma in Dermatology from Cardiff University and an Advanced Masters in Dermatology (UKM). She spent over 6 years practicing in the UK and Singapore, before returning to Malaysia. Dr Wong is involved in teaching and has published in various peer-reviewed medical journals. She was involved in the development of the Malaysian Clinical Practice Guidelines for Psoriasis, and is a member of the Dermatological Society of Malaysia and the Academy of Medicine Malaysia.
{% endrenderTemplate %}
</article>