---
layout: "bio"
image: image113.png
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Dr. Yong Shin Shen

Dr Yong is a consultant dermatologist who practices in the University of Malaya Medical Centre (UMMC) and UM Specialist Centre. His specialist interests include hair and nails as well as cutaneous lymphomas. He graduated from the National University of Ireland in 2010. He then obtained his postgraduate qualifications in Internal Medicine in 2014 when he was awarded the MRCPI. Dr Yong completed Dermatology training in 2020, obtaining the Advanced Master in Dermatology from Universiti Kebangsaan Malaysia as well as the Specialty Certificate in Dermatology from the Royal Colleges of Physicians. He is the clinical lead for the laser unit in UMMC and is also a member of the development group for the upcoming second edition of the CPG on psoriasis.

{% endrenderTemplate %}
</article>