---
layout: "triplecolumn"

title: Cardiology

unit: Cardiology

navitems:
    - label:  Introduction
      url:   /units/cardiology
    - label:  Team
      url:   /units/cardiology/team
    - label:  Publications
      url:   /units/cardiology/publications


linkitems:
    - label:  CERiA
      url:   https://www.ceria.um.edu.my
    - label:  UMMC Antibiotic guideline
      url:   https://farmasi.ummc.edu.my/ummc-on-line-antibiotic-guideline

titleimage: "/static/img/units/heart.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Cardiology Unit
<figure class="hidden md:inline float-right">
  <img alt="HOD" class=" m-0 p-0  w-48 max-auto " src="/static/img/portraits/image28.png"/>
            <figcaption class=" px-4 py-4 text-center text-sm font-base"><p>Prof. Dr. Imran Zainal Abidin<p><p>Head of Unit</p></figcaption>
  </figure>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam fugit, harum expedita cum ipsum neque explicabo vitae voluptatum tempora consectetur suscipit omnis odit at nostrum cumque aspernatur quasi sed asperiores.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsam numquam sed modi ipsa eveniet eos magni esse repellat animi, aspernatur est sit, vitae quaerat, ducimus temporibus sequi aliquid omnis?
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem provident excepturi maxime sapiente sequi! Dolores rem eveniet blanditiis commodi assumenda eum, quibusdam magnam odit ipsam dolore excepturi accusantium adipisci maxime?

{% endrenderTemplate %}
</article>