---
layout: default.njk
head: "Dr Sharifah"
unit: "Cardiology"
intro: "Here will be some intro text that introduces the unit, cardiology in this case"
titleimage: "/static/img/units/heart.jpg"
services:
    - EEG
    - Laboratory
---
{% from 'partials/unitintro.njk' import unitintro %}
{% from 'partials/unitstaff.njk' import unitstaff %}
{% from 'partials/unitservices.njk' import unitservices %}
{% from 'partials/unitpublications.njk' import unitpublications %}

<!-- Introduction -->

{{ unitintro(unit, head, intro, titleimage) }}

<!-- Introduction end -->

<!-- Services -->

{{ unitservices(services) }}

<!-- Services end -->

<!-- Staff -->

{{ unitstaff(people, unit) }}

<!-- Staff end -->

<!-- Publications -->

{{ unitpublications(unit, publications) }}

<!-- Publications end -->