---
layout: "sidebar"

title: Cardiology Publications

unit: Cardiology

navitems:
    - label:  Introduction
      url:   /units/cardiology
    - label:  Team
      url:   /units/cardiology/team
    - label:  Publications
      url:   /units/cardiology/publications


linkitems:
    - label:  CERiA
      url:   https://www.ceria.um.edu.my
    - label:  UMMC Antibiotic guideline
      url:   https://farmasi.ummc.edu.my/ummc-on-line-antibiotic-guideline

titleimage: "/static/img/units/heart.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Publications

<table>
<tbody>
<tr class="odd">
<td>Acute pericarditis following mRNA COVID-19 vaccination: An
unforeseen event. Faiz Mashood, Noor Muhammad Azlan Shah, Samshol
Sukahri, Imran Zainal Abidin. Department of Medicine, Faculty of
Medicine, University Malaya Medical Centre, Division of Cardiology,
Department of Medicine, Faculty of Medicine, University Malaya.
International Journal of Cardiology, Volume 369, Supplement, December
2022, Page 32. https://doi.org/10.1016/j.ijcard.2022.10.091</td>
</tr>
<tr class="even">
<td>Combined Analysis of Two Parallel Randomized Trials of
Sirolimus-Coated and Paclitaxel-Coated Balloons in Coronary In-Stent
Restenosis Lesions Bruno Scheller , MD; Norman Mangner , MD; Muhamad Ali
S.K. Abdul Kader, MD; Wan Azman Wan Ahmad, MBBS; Raban Jeger , MD;
Jochen W hrle , MD; Tiong Kiam Ong , MBBS; Houng Bang Liew, MB BCh;
Tommaso Gori, MD; Felix Mahfoud, MD; Amin Ariff Nuruddin, MB BCh; Felix
Woitek, MD; Imran Zainal Abidin, MD; Carsten Schwenke, PhD; Beatrix
Schnorr, PhD; Rosli Mohd Ali, MD. Circ Cardiovasc Interv.
2022;15:e012305. DOI: 10.1161/CIRCINTERVENTIONS.122.012305 September
2022</td>
</tr>
<tr class="odd">
<td>Kounis syndrome a silent killer under the blanket. S.F. Ali,
N.M.A.S. Atan, S. Sukahri, Z.A. Abidin VOLUME 369, SUPPLEMENT , 33,
DECEMBER 01, 2022. DOI:https://doi.org/10.1016/j.ijcard.2022.10.094</td>
</tr>
<tr class="even">
<td>Myocardial infarction with nonobstructive coronary arteries (MINOCA)
in COVID-19 infection: A case report. A. SUHAIMI, N.M.A.S. ATAN, S.
SUKAHRI, Z.A. ABIDIN. Cardiology Unit, Department of Medicine,
University Malaya Medical Centre, Malaysia. International Journal of
Cardiology. VOLUME 369, SUPPLEMENT, 33-34, DECEMBER 01, 2022.
DOI:https://doi.org/10.1016/j.ijcard.2022.10.095</td>
</tr>
<tr class="odd">
<td>Unmasking the cardiac mass. N.M.A.S. Atan M.O. Mon M.D. Ismail Z.A.
Abidin W.A.W. Ahmad. VOLUME 369, SUPPLEMENT, 32-33, DECEMBER 01, 2022.
DOI: https://doi.org/10.1016/j.ijcard.2022.10.093</td>
</tr>
<tr class="even">
<td>Maw Pin Tan, Yun Ying Ho, Ai-Vyrn Chin, Nor Izzati Saedon, Imran
Zainal Abidin, Kok Han Chee, Hui Min Khor, Choon Hian Goh, Noran Naqiah
Hairi, Sajaratulnisah Othman, Shahrul Bahyah Kamaruzzaman (2019) Ethnic
differences in lifetime cumulative incidence of syncope: the Malaysian
elders longitudinal research (MELoR) study. Clinical Autonomic Research.
https://doi.org/10.1007/s10286-019-00610-2</td>
</tr>
<tr class="odd">
<td>Tan MP, Ho YY, Chin AV, Saedon NI, Imran ZA, Chee KH, Khor HM, Goh
CH et al. Ethnic Differences in Lifetime Cumulative Incidence of
Syncope: the Malaysian Elders Longitudinal Research (MELoR) Study. Clin
Auton Res. 2019.</td>
</tr>
<tr class="even">
<td>Outcomes of STEMI patients with chronic kidney disease undergoing
percutaneous coronary intervention: the Malaysian National
Cardiovascular Disease Database - Percutaneous Coronary Intervention
(NCVD-PCI) registry data from 2007 to 2014. Muhammad Dzafir Ismail,
MBBS; Maisarah Jalalonmuhali; Zaid Azhari; Jeevitha Mariapun; Zhen-Vin
Lee; Imran Zainal Abidin; Wan Azman Wan Ahmad; Ahmad Syadi Mahmood Zuhdi
submitted to BCAR-D-17-00338. BMC Cardiovascular Disorder (2018) 18;184.
Published December 2018</td>
</tr>
<tr class="odd">
<td>The Greatest Mystery of All Is the Human Heart (P.D. James). Mon
Myat Oo, Zainal Imran. 23rd Cardiovascular Summit TCTAP 2018 C-084.
Journal of American College of Cardiology 71(16):S150-S151. DOI:
10.1016/j.jacc.2018.03.283. April 2018</td>
</tr>
<tr class="even">
<td>Disease Spectrum of Complicated Infective Endocarditis in an Urban
Area of a Developing Country: A Single-Centre 15 Years Experience.
Farook Ahmad, Stephen Cox, Chan Soon Thim, Effarezan Abdul Rahman,
Sivarani Sathasivam, Wan Azman Wan Ahmad, Imran Zainal Abidin, Muhammad
Athar Sadiq. Journal of Critical Care Elsevier. 2017</td>
</tr>
<tr class="odd">
<td>Ethnic Differences Exist in Lifetime History of Syncope among Urban
Community-Dwellers Aged 55 years and over in the Malaysian Elders
Longitudinal Research (MELoR). Maw P. Tan, Yun Ying Ho, Ai-Vyrn Chin,
Nor Izzati Saedon, Zainal Abidin Imran, Kok Han Chee, Hui Min Khor,
Choon Hian Goh, Noran Hariri, Sajaratulnisah Othman, Shahrul
Kamaruzzaman. Elsevier International Journal of Cardiology. September
2017</td>
</tr>
<tr class="even">
<td>Experience of a rapid access falls and syncope service at a teaching
hospital in Kuala Lumpur. Gan Sin Yin, Nor Izzati Saedon, Sukanya
Subramaniam, Nor Fairuz Husna Alias, Siti sakinah Mohd Nasir, Noor Fatin
Izzati Abu Hashim, Imran Zainal Abidin, Chee Kok Han, Jassie Teo Yeh
Lin, Tan Maw Pin. International Journal of cardiology. DOI:
10.1016/j.ijcard.2017.09.085. December 2017</td>
</tr>
<tr class="odd">
<td>Generic Atorvastatin is as effective as the brand-name drug
(LIPITOR) in lowering cholesterol levels: a cross-sectional
retrospective cohort study. Alexander Loch, Jan Philipp Bewersdorf,
Danial Kofink, Dzafir Ismail, Imran Zainal Abidin, Ramesh Singh Veriah.
BMC Research Notes. DOI 10.1186/s13104-017-2617-6. December 2017</td>
</tr>
<tr class="even">
<td>Outcomes of patients with atrial fibrillation undergoing
percutaneous coronary intervention: 7 years data from the Malaysian
National Cardiovascular Disease Database Percutaneous Coronary
Intervention (NCVD-PCI) Registry. Mon Myat Oo, Ng Kee Seong, Muhammad
Dzafir Ismail, Imran Zainal Abidin, Wan Azman Wan Ahmad. 10th Asia
Pacific Cardiology Update @USM 2017, Hotel Renaissance Kota Bharu,
Kelantan. 20th 22nd October 2017.</td>
</tr>
<tr class="odd">
<td>Zaid Azhari, Muhammad Dzafir Ismail, Ahmad Syadi Mahmood Zuhdi, Nor
Ashikin Md Sari, Imran Zainal Abidin, Wan Azman Wan Ahmad. Association
between body mass index and outcomes after percutaneous coronary
intervention in multi-ethnic South East Asian population: a
retrospective analysis of the Malaysian National Cardiovascular Disease
Database Percutaneous Coronary Intervention (NCVD-PCI) registry. BMJ
Open Journal 2017-017794.</td>
</tr>
<tr class="even">
<td>A Core "Hybrid" HeartQoL Questionnaire for Patients with Ischaemic
Heart Disease - its Factorial and Construct Validity among Non-Native
English Speaking Malaysians. Wan Ling Lee; Karuthan Chinna; Khatijah Lim
Abdullah; Imran Zainal Abidin. PONE-D-16-13211. Submitted 01 April
2016.</td>
</tr>
</tbody>
</table>

{% endrenderTemplate %}
</article>
