---
layout: "sidebar"

title: Cardiology

unit: Cardiology

navitems:
    - label:  Introduction
      url:   /units/cardiology
    - label:  Team
      url:   /units/cardiology/team
    - label:  Publications
      url:   /units/cardiology/publications


linkitems:
    - label:  CERiA
      url:   https://www.ceria.um.edu.my
    - label:  UMMC Antibiotic guideline
      url:   https://farmasi.ummc.edu.my/ummc-on-line-antibiotic-guideline

titleimage: "/static/img/units/heart.jpg"
---


{% from 'partials/unitstaff.njk' import unitstaff %}


{{ unitstaff(people, unit) }}

