---
layout: "sidebar"

title: Respiratory Medicine Research

unit: Respiratory Medicine

navitems:
    - label:  Introduction
      url:   /units/respiratory
    - label:  Team
      url:   /units/respiratory/team
    - label:  Publications
      url:   /units/respiratory/publications
    - label:  Research
      url:   /units/respiratory/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---


<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Active clinical trials

(insert list here)


{% endrenderTemplate %}
</article>