---
layout: default.njk
head: "Dr Sheriza"
unit: "Palliative Care"
intro: "Here will be some intro text that introduces the unit, palliative care in this case"
titleimage: "https://images.unsplash.com/photo-1445264718234-a623be589d37?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
services:
    - Hospital consults
    - Inpatient palliative care unit
    - Weekly clinic
    - Palliative care in motor neurone disease
    - Palliative care in end stage renal failure
---
{% from 'partials/unitintro.njk' import unitintro %}
{% from 'partials/unitstaff.njk' import unitstaff %}
{% from 'partials/unitservices.njk' import unitservices %}
{% from 'partials/unitpublications.njk' import unitpublications %}

<!-- Introduction -->

{{ unitintro(unit, head, intro, titleimage) }}

<!-- Introduction end -->

<!-- Services -->

{{ unitservices(services) }}

<!-- Services end -->

<!-- Staff -->

{{ unitstaff(people, unit) }}

<!-- Staff end -->

<!-- Publications -->

{{ unitpublications(unit, publications) }}

<!-- Publications end -->