---
layout: "sidebar"

title: Medical Admission

unit: Medical Admission

navitems:
    - label:  Introduction
      url:   /units/medicaladmission
    - label:  Team
      url:   /units/medicaladmission/team
    - label:  Publications
      url:   /units/medicaladmission/publications

linkitems:


titleimage: "/static/img/units/id.jpg"
---


<article class="prose lg:prose-md">
{% renderTemplate "md" %}

(to enter publications here)


{% endrenderTemplate %}
</article>
