---
layout: "triplecolumn"

title: Endocrinology

unit: Endocrinology

navitems:
    - label:  Introduction
      url:   /units/endocrinology
    - label:  Team
      url:   /units/endocrinology/team
    - label:  Publications
      url:   /units/endocrinology/publications
    - label:  Research
      url:   /units/endocrinology/research

linkitems:
    - label:  CERiA
      url:   https://www.ceria.um.edu.my
    - label:  UMMC Antibiotic guideline
      url:   https://farmasi.ummc.edu.my/ummc-on-line-antibiotic-guideline

titleimage: "/static/img/units/id.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Endocrinology Unit
<figure class="hidden md:inline float-right">
  <img alt="HOD" class=" m-0 p-0  w-48 max-auto " src="/static/img/portraits/image29.png"/>
            <figcaption class=" px-4 py-4 text-center text-sm font-base"><p>Assoc. Prof. Dr Jeyakantha A/L Ratnasingam<p><p>Head of Unit</p></figcaption>
  </figure>

Lorem ipsum dolor sit amet consectetur adipisicing elit. In non, aliquid dignissimos perferendis nulla assumenda odit cupiditate velit fugiat voluptatibus ullam, laborum neque numquam animi optio hic explicabo alias quam.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quo ad quasi quia excepturi cupiditate voluptatum, quam unde dolor neque magnam aut? Aliquid ipsum, velit possimus natus maiores totam nam?
{% endrenderTemplate %}
</article>





