---
layout: "sidebar"

title: Endocrinology Publications

unit: Endocrinology

navitems:
    - label:  Introduction
      url:   /units/endocrinology
    - label:  Team
      url:   /units/endocrinology/team
    - label:  Publications
      url:   /units/endocrinology/publications
    - label:  Research
      url:   /units/endocrinology/research

linkitems:
    - label:  CERiA
      url:   https://www.ceria.um.edu.my
    - label:  UMMC Antibiotic guideline
      url:   https://farmasi.ummc.edu.my/ummc-on-line-antibiotic-guideline

titleimage: "/static/img/units/id.jpg"
---




<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Publications

## 2022

<table>
<tbody>
<tr class="odd">
<td>Teh, H. S., Woon, Y. L., Leong, C. T., Hing, N. Y. L., Mien, T. Y.
S., Roope, L. S.J, Clarke, P. M., <em>Lim, L. L.</em> &amp; Buckell, J.
(2022). Malaysian public preferences and decision making for COVID-19
vaccination: a discrete choice experiment. <em>The Lancet Regional
Health-Western Pacific</em>, <em>27</em>, 100534.</td>
</tr>
<tr class="even">
<td>Hoo, J. X., Yang, Y. F., Tan, J. Y., Yang, J., Yang, A., &amp;
<em>Lim, L. L.</em> (2022). Impact of multicomponent integrated care on
mortality and hospitalization after acute coronary syndrome: a
systematic review and meta-analysis. <em>European Heart Journal-Quality
of Care and Clinical Outcomes</em>.</td>
</tr>
<tr class="odd">
<td>Chan, J. C., Thewjitcharoen, Y., Nguyen, T. K., Tan, A., Chia, Y.
C., Hwu, C. M., Jian, D., Himathongkam, T., Wong, K., Choi, Y., Miraso,
R., Mohamed, M, Kong, A.P. S., Ma, R.C.W., Chow, E. Y. K., Ozaki, O.,
Lau, V., Fu, A.W.C., Hong, E., Yoon, K., Tsang, C. Lau, E.S. H. <em>Lim,
L. L.</em>, Luk, A. O. (2022). Effect of a Web-Based Management Guide on
Risk Factors in Patients With Type 2 Diabetes and Diabetic Kidney
Disease: A JADE Randomized Clinical Trial. <em>JAMA network open</em>,
<em>5</em>(3), e223862-e223862.</td>
</tr>
<tr class="even">
<td><em>Loh, H. H., Lim, Q. H., Chai, C. S., Goh, S. L., Lim, L. L.,
Yee, A., &amp; Sukor, N. (2022). Influence and implications of the
renin–angiotensin–aldosterone system in obstructive sleep apnea: An
updated systematic review and meta‐analysis. Journal of Sleep Research,
e13726.</em></td>
</tr>
</tbody>
</table>

## 2021

<table>
<tbody>
<tr class="odd">
<td>Tan, E. Z. Y., Lai, L. L., <em>Vethakkan, S. R</em>., Mustapha, N.
R. N., Mahadeva, S., &amp; Chan, W. K. (2021). Modest alcohol intake not
associated with significant hepatic steatosis or more severe liver
disease among patients with diabetes mellitus. Journal of
Gastroenterology and Hepatology, 36(3), 751-757. doi:
10.1111/jgh.15160</td>
</tr>
<tr class="even">
<td>Tan, Y. J., Lim, S. Y., Yong, V. W., Choo, X. Y., Ng, Y. D.,
Sugumaran, K., Shah, M.N.M., Aman, R.R.A.R., <em>Paramasivam, S.S</em>.,
Ramli, N.M, Tan, A. H. (2021). Osteoporosis in Parkinson's disease:
relevance of distal radius dual-energy X-ray absorptiometry (DXA) and
sarcopenia. <em>Journal of Clinical Densitometry</em>, <em>24</em>(3),
351-361.</td>
</tr>
<tr class="odd">
<td>Ward, J. L., Azzopardi, P. S., Francis, K. L., Santelli, J. S.,
Skirbekk, V., Sawyer, S. M., . . . Mortality, G. B. D. A. (2021).
Global, regional, and national mortality among young people aged 10-24
years, 1950-2019: a systematic analysis for the Global Burden of Disease
Study 2019. Lancet, 398(10311), 1593-1618.</td>
</tr>
<tr class="even">
<td>Loh, H. H., Francis, B., <em>Lim, L. L., Lim, Q. H</em>., Yee, A.,
&amp; Loh, H. S. (2021). Improvement in mood symptoms after
post-bariatric surgery among people with obesity: A systematic review
and meta-analysis. Diabetes-Metabolism Research and Reviews, 37(8), 12.
doi: 10.1002/dmrr.3458</td>
</tr>
<tr class="odd">
<td><em>Lim, L. L.</em>, Lau, E. S. H., Fu, A. W. C., Ray, S., Hung, Y.
J., Tan, A. T. B., . . . Asia-Pacific, J. S. G. (2021). Effects of a
Technology-Assisted Integrated Diabetes Care Program on Cardiometabolic
Risk Factors Among Patients With Type 2 Diabetes in the Asia-Pacific
Region The JADE Program Randomized Clinical Trial. Jama Network Open,
4(4), 16. doi: 10.1001/jamanetworkopen.2021.7557</td>
</tr>
<tr class="even">
<td>Paulson, K. R., Kamath, A. M., Alam, T., Bienhoff, K., Abady, G. G.,
Abbas, J., . . . Collabo, G. B. D. U.-M. (2021). Global, regional, and
national progress towards Sustainable Development Goal 3.2 for neonatal
and child health: all-cause and cause-specific mortality findings from
the Global Burden of Disease Study 2019. Lancet, 398(10303), 870-905.
doi: 10.1016/s0140-6736(21)01207-1</td>
</tr>
<tr class="odd">
<td>Sandhu, A. K., Toh, L. S., Lee, Y. K., Tan, A., <em>Ratnasingam,
J</em>., Thiagarajan, N., &amp; Lai, P. (2021). Cross-Cultural
Adaptation and Validation of the Malay Satisfaction Questionnaire for
Osteoporosis Prevention in Malaysia. <em>Patient preference and
adherence</em>, <em>15</em>, 1383–1395.<a
href="https://doi.org/10.2147/PPA.S314641"> </a><a
href="https://doi.org/10.2147/PPA.S314641"><em>https://doi.org/10.2147/PPA.S314641</em></a></td>
</tr>
<tr class="even">
<td>Oo, M. M., Zhen, I. T. C., Ng, K. S., Tan, K. L., Tan, A. T.,
<em>Vethakkan, S. R</em>., &amp; Chee, K. H. (2021). Observational study
investigating the prevalence of asymptomatic stage B heart failure in
patients with type 2 diabetes who are not known to have coronary artery
disease. BMJ open, 11(1), e039869.</td>
</tr>
<tr class="odd">
<td><em>Lim, QH., Lim, LL.</em> (2021). Vasomotor symptoms in menopause:
modifying the unmodifiable. BJOG;128(3):61 (WoS)</td>
</tr>
<tr class="even">
<td>Loh, H. H., Yee, A., Loh, H. S., Kanagasundram, S., Francis, B.,
&amp; <em>Lim, L.-L</em>. (2020). Sexual dysfunction in polycystic ovary
syndrome: a systematic review and meta-analysis. Hormones. doi:
10.1007/s42000-020-00210-0</td>
</tr>
<tr class="odd">
<td>Ganju, A., Goulart, A.C., Ray, A.,...Subramaniam, K., <em>Lim,
L.L.</em>,...Malik, R.A., Potkar, S., Wang, Y.P. (2020). Systemic
Solutions for Addressing Non-Communicable Diseases in Low- and
Middle-Income Countries. J Multidiscip Healthc, 13:693-707 (WoS)</td>
</tr>
<tr class="even">
<td>Lozano, R., Fullman, N., Mumford, J.E., <em>Lim, L.L.</em>, Murray,
C.J.L. (2020). Measuring universal health coverage based on an index of
effective coverage of health services in 204 countries and territories,
1990-2019: a systematic analysis for the Global Burden of Disease Study
2019. Lancet, 396:1250-1284 (WoS)</td>
</tr>
<tr class="odd">
<td>Murray, C.J.L., Aravkin, A.Y., Zheng, P., <em>Lim, L.L</em>., Lim,
S.S. (2020). Global burden of 87 risk factors in 204 countries and
territories, 1990-2019: a systematic analysis for the Global Burden of
Disease Study 2019. Lancet;396:1223-1249</td>
</tr>
<tr class="even">
<td><em>MR, S. R., Ratnasingam, J., Paramasivam, S. S., Ibrahim, L.,
Lim, Q. H., Chiong, T. P., ... &amp; Vethakkan, S. R. (2021). Serum
Adiponectin And Other Predictors Of Need For Insulin Therapy In
Gestational Diabetes Mellitus. Journal of the ASEAN Federation of
Endocrine Societies, 36, 55-56.</em></td>
</tr>
</tbody>
</table>

## 2020

<table>
<tbody>
<tr class="odd">
<td>Chandran, S.R., Vigersky, R.A., Thomas, A., <em>Lim, L.L.,
Ratnasingam, J</em>., Tan, A.T.B., Gardner, D.S.L. (2020). Role of
composite glycemic indices: A comparison of the Comprehensive Glucose
Pentagon (CGP) across diabetes types and HbA1c levels. Diabetes Technol
Ther;22(2):103 111. doi:10.1089/dia.2019.0277</td>
</tr>
<tr class="even">
<td><em>Lim, L.L</em>., Lau, E.S.H., Fung, E., Lee, H.M., Ma, R.C.W.,
Tam, C.H.T., Wong, W.K.K., Ng, A.C.W., Chow, E., Luk, A.O.Y., Jenkins,
A., Chan, J.C.N., Kong, A.P.S. (2020). Circulating branched-chain amino
acids and incident heart failure in type 2 diabetes: The Hong Kong
Diabetes Register. Diabetes Metab Res Rev;36(3):e3253.
doi:10.1002/dmrr.3253</td>
</tr>
<tr class="odd">
<td>Kong, A.P.S., Lew, T., Lau, E.S.H., <em>Lim, L.L.</em>, Kesavadev,
J., Jia, W., Sheu, W.H.H., Sobrepena, L., Tan, A.T.B., Nguyen, T.K.,
Yoon, K.H., Wang, K., Kodiappan, K., Treuer, T., Chan, J.C.N. (2020).
Real-world data reveal unmet clinical needs in insulin treatment in
Asians with type 2 diabetes the Joint Asia Diabetes Evaluation Register.
Diabetes Obes Metab;22(4):669 679. doi:10.1111/dom.13950 (IF 6.133)
(WoS)</td>
</tr>
<tr class="even">
<td>Vos, T., Lim, S.S., Abbafati, C., <em>Lim, L.L.,</em> Murray, C.J.L.
(2020). Global burden of 369 diseases and injuries in 204 countries and
territories, 1990-2019: a systematic analysis for the Global Burden of
Disease Study 2019. Lancet;396:1204-1222</td>
</tr>
<tr class="odd">
<td>Murray, C.J.L., Abbafati, C., Abbas, K.M., <em>Lim, L.L.</em>, Lim,
S.S. (2020). Five insights from the Global Burden of Disease Study 2019.
Lancet;396:1135-1159 (WoS)</td>
</tr>
<tr class="even">
<td>Wang, H., Abbas, K.M., Abbasifard, M., <em>Lim, L.L</em>., Murray,
C.J.L. (2020). Global age-sex-specific fertility, mortality, healthy
life expectancy (HALE), and population estimates in 204 countries and
territories, 1950-2019: a comprehensive demographic analysis for the
Global Burden of Disease Study 2019. Lancet;396:1160-1203</td>
</tr>
<tr class="odd">
<td><em>Lim, L.L.</em>, Lau, E.S.H., Ozaki, R.,..., Chan, J.C.N. (2020).
Association of technologically-assisted integrated care with clinical
outcomes in type 2 diabetes in Hong Kong using the prospective JADE
Program: A retrospective cohort analysis. PLoS Med;17:e1003367</td>
</tr>
<tr class="even">
<td>Graetz, N., Woyczynski, L., Wilson, K.F., <em>Lim, L.L</em>., Hay,
S.I. (2020). Mapping disparities in education across low- and
middle-income countries. Nature;577(7789):235 238.
doi:10.1038/s41586-019-1872-1</td>
</tr>
<tr class="odd">
<td>Bikbov, B., Purcell, C.A., Levey, A.S.,...<em>Lim, L.L</em>.,...Vos,
T. (2020). Global, Regional, and National Burden of Chronic Kidney
Disease, 1990-2017: A Systematic Analysis for the Global Burden of
Disease Study 2017. Lancet;395(10225):709 733.
doi:10.1016/S0140-6736(20)30045-3</td>
</tr>
<tr class="even">
<td>Samsuddin, S, Arumugam, PA, Md. Amin, M, Yahya, A, Musa, N, <em>Lim,
L-L, Paramasivam, SS</em>, <em>Ratnasingam, J</em>, Ibrahim, L, Chooi,
KC, Tan, ATB, Tan, PC, Omar, SZ, Samingan, N, Ahmad Kamar, A, Anuar
Zaini, A, Jalaluddin, MY, <em>Vethakkan, SR</em>. Maternal lipids are
associated with newborn adiposity, independent of GDM status, obesity
and insulin resistance: a prospective observational cohort study.
<em>BJOG</em> 2020; 127: 490– 499.</td>
</tr>
<tr class="odd">
<td><em>Zainuddin, N. M., Sthaneshwar, P., &amp; Ratnasingam, J. (2020).
Screening for phaeochromocytoma in patients with acute cerebrovascular
disease: Is it necessary? Malaysian Journal of Pathology, 42(2),
203-207.</em></td>
</tr>
</tbody>
</table>

## 2019

<table>
<tbody>
<tr class="odd">
<td>Loh, H.H., <em>Lim, L.L.</em>, Yee, A., Loh, H.S. (2019).
Association between subclinical hypothyroidism and depression: An
updated systematic review and meta-analysis. BMC
Psychiatry;19(1):12</td>
</tr>
<tr class="even">
<td>Orpana, H.M., Marczak, L.B., Arora, M., <em>Lim, L.L</em>., Naghavi,
M. (2019). Global, regional, and national burden of suicide mortality
1990 to 2016: systematic analysis of the Global Burden of Disease Study
2016. BMJ. 364:l94 (IF 27.604) (WoS)</td>
</tr>
<tr class="odd">
<td><em>Lim, L.L.</em>, Tse, G., Choi, K.C., Zhang, J., Luk, A.O.Y.,
Chow, E., Ma, R.C.W., Chan, M.H.M., Wing, Y.K., Kong, A.P.S., Chan,
J.C.N. (2019). Temporal changes in obesity and sleep habits in Hong Kong
Chinese school children: a prospective study. Scientific Reports.
9(1):5881 (IF 4.011) (WoS)</td>
</tr>
<tr class="even">
<td>Chan, J.C.N., <em>Lim, L.L.</em>, Luk, A.O.Y., Ozaki, R, Kong,
A.P.S., Ma, R.C.W., So, W.Y., Lo, S.V. (2019). From Hong Kong Diabetes
Register to JADE Program to RAMP-DM for Data-Driven Actions. Diabetes
Care;42(11):2022 2031. doi:10.2337/dci19-0003</td>
</tr>
<tr class="odd">
<td><em>Lim, L.L.</em>, Chan, J.C.N. (2019). Sodium-glucose
co-transporter-2 inhibitors: know the patient and the drugs. Hong Kong
Med J, 25(4):268-70. doi.org/10.12809/hkmj195089 (WoS)</td>
</tr>
<tr class="even">
<td><em>Loh, H.H., Lim, L.L., Loh, H.S., Yee, Anne. (2019). Safety of
Ramadan Fasting in Young Patients with Type 1 Diabetes: A Systematic
Review and Meta analysis. J Diabetes Investig (online first)
https://doi.org/10.1111/jdi.13054</em></td>
</tr>
</tbody>
</table>

## 2018

<table>
<tbody>
<tr class="odd">
<td>Rama Chandran, S., Tay, W. L., Lye, W. K., <em>Lim, L. L.,
Ratnasingam, J.</em>, Tan, A. T. B., &amp; SL Gardner, D. (2018). Beyond
HbA1c: comparing glycemic variability and glycemic indices in predicting
hypoglycemia in type 1 and type 2 diabetes. <em>Diabetes technology
&amp; therapeutics</em>, <em>20</em>(5), 353-362.</td>
</tr>
<tr class="even">
<td>Ding, C., <em>Lim, L.L</em>., Li, X., Kong, A.P.S. (2018). Sleep and
obesity. Journal of Obesity &amp; Metabolic Syndrome, 27, 4-24</td>
</tr>
<tr class="odd">
<td><em>Lim, L. L.,</em> Ng, Y. M., Kang, P. S., &amp; Lim, S. K.
(2018). Association between serum 25-hydroxyvitamin D and glycated
hemoglobin levels in type 2 diabetes patients with chronic kidney
disease. J Diabetes Investig, 9(2):375-382</td>
</tr>
<tr class="even">
<td>Chandran, S.R., Tay, W.L., Lye, W.K., <em>Lim, L.L</em>.,
Ratnasingam, J., Tan, A.T.B., Gardner, D.S.L. (2018). Beyond HbA1c:
Comparing glycemic variability and glycemic indices in predicting
hypoglycemia in type 1 and type 2 diabetes. Diabetes Technol Ther 2018
May;20(5):353-362</td>
</tr>
<tr class="odd">
<td><em>Lim, L.L</em>., Fu, A.W.C., Lau, E.S.H., Ozaki, R., Cheung,
K.K.T., Ma, R.C.W., Luk, A.O.Y., Chan, J.C.N., &amp; Kong, A.P.S.
(2018). Sudomotor dysfunction independently predicts incident
cardiovascular-renal events and all-cause death in type 2 diabetes - The
Joint Asia Diabetes Evaluation (JADE) Register. Nephrol Dial Transplant
2018. doi.org/10.1093/ndt/gfy154</td>
</tr>
<tr class="even">
<td><em>Paramasivam, S.S</em>., Chinna, K., Singh, A.K.K.,
<em>Ratnasingam, J</em>., Ibrahim, L., <em>Lim, L.L</em>., Tan, A.T.B.,
Chan, S.P., Tan, P.C., Omar, S.Z., Bilous, R.W., &amp; <em>Vethakkan,
S.R.</em> (2018). Continuous Glucose Monitoring Results in Lower HbA1c
in Malaysian Women with Insulin-Treated Gestational Diabetes: A
Randomized Controlled Trial. Diabet Med. 2018 Aug;35(8):1118-1129</td>
</tr>
<tr class="odd">
<td>Fullman, N., Yearwood, J., Abay, S.M., Abbafati, C., Abd-Allah, F.,
Abdela, J.,.....<em>Lim, L.L</em>., et al. (2018). Measuring performance
on the Healthcare Access and Quality Index for 195 countries and
territories and selected subnational locations: a systematic analysis
from the Global Burden of Disease Study 2016. Lancet.
391(10136):2236-2271</td>
</tr>
<tr class="even">
<td>Lozano, R., Fullman, N., Abate, D., Abay, S.M., Abbafati, C.,
Abbasi, N.,......<em>Lim, L.L.</em> et al. (2018). Measuring progress
from 1990 to 2017 and projecting attainment to 2030 of the
health-related Sustainable Development Goals for 195 countries and
territories: a systematic analysis for the Global Burden of Disease
Study 2017. Lancet, 392(10159):2091-2138.</td>
</tr>
<tr class="odd">
<td>Yang, C., Lee, H.K., Kong, A.P.S., <em>Lim, L.L</em>., Cai, Z.,
Chung, A.C.K. (2018). Early-life exposure to endocrine disrupting
chemicals associates with childhood obesity. Ann Pediatr Endocrinol
Metab. 23:182-195</td>
</tr>
<tr class="even">
<td><em>Lim, L.L., Lau, E.S.H., Kong, A.P.S., Davies, M.J., Levitt,
N.S., Eliasson, B., Aguilar-Salinas, C.A., Ning, G., Seino, Y., So,
W.Y., McGill, M., Ogle, G.D., Orchard, T.J., Clarke, P., Holman, R.R.,
Gregg, E.W., Gagliardino, J.J., &amp; Chan, J.C.N. (2018). Aspects of
multi-component integrated care promote sustained improvement in
surrogate clinical outcomes: a systematic review and meta-analysis.
Diabetes Care 2018 Jun;41(6):1312-1320</em></td>
</tr>
</tbody>
</table>

## 2017

<table>
<tbody>
<tr class="odd">
<td>Venugopal, Y., Hatta, S. F. W. M., Musa, N., Abdul Rahman, S<em>.,
Ratnasingam, J., Paramasivam, S. S, L.L. Lim</em>, L Ibrahim, &amp;
<em>Vethakkan, S. R</em>. (2017). Maintenance vitamin D3 dosage
requirements in Chinese women with post menopausal osteoporosis living
in the tropics. <em>Asia Pacific journal of clinical nutrition</em>,
<em>26</em>(3), 412-420.</td>
</tr>
<tr class="even">
<td><em>Lim, L. L.</em>, Tan, A. T., Moses, K., Rajadhyaksha, V., &amp;
Chan, S. P. (2017). Place of sodium-glucose cotransporter-2 inhibitors
in East Asian subjects with type 2 diabetes mellitus: Insights into the
management of Asian phenotype. J Diabetes Complications, 31(2),
494-503</td>
</tr>
<tr class="odd">
<td><em>Lim, L. L.</em>, Brnabic, A. J., Chan, S. P., Ibrahim, L.,
Paramasivam, S. S., Ratnasingam, J., . . . Tan, A. T. B. (2017).
Relationship of glycated hemoglobin, and fasting and postprandial
hyperglycemia in type 2 diabetes mellitus patients in Malaysia. J
Diabetes Investig, 8(4), 453-461. doi:10.1111/jdi.12596</td>
</tr>
<tr class="even">
<td><em>Ratnasingam, J.</em>, Chooi, K. C., Samsuddin, S.,
<em>Paramasivam, S</em>., Ibrahim, L., <em>Lim, L. L</em>., Tan, A.,
<em>Vethakkan, S.</em> (2017). Visual Vignette. Endocr Pract, 23(6),
752. doi:10.4158/ep161568.Vv (IF 4.149) (WoS)</td>
</tr>
<tr class="odd">
<td><em>Loh, H. H., Lim, L. L., Yee, A., Loh, H. S., &amp; Vethakkan, S.
R. (2017). Effect of Vitamin D replacement in Primary
Hyperparathyroidism with concurrent Vitamin D deficiency: a systematic
review and meta-analysis. Minerva Endocrinol. Advance online
publication. doi:10.23736/s0391-1977.17.02584-6</em></td>
</tr>
</tbody>
</table>



{% endrenderTemplate %}
</article>