---
layout: "sidebar"

title: Endocrinology

unit: Endocrinology

navitems:
    - label:  Introduction
      url:   /units/endocrinology
    - label:  Team
      url:   /units/endocrinology/team
    - label:  Publications
      url:   /units/endocrinology/publications
    - label:  Research
      url:   /units/endocrinology/research

linkitems:
    - label:  CERiA
      url:   https://www.ceria.um.edu.my
    - label:  UMMC Antibiotic guideline
      url:   https://farmasi.ummc.edu.my/ummc-on-line-antibiotic-guideline

titleimage: "/static/img/units/id.jpg"
---




<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Active clinical trials

## Industry-sponsored

<table>
<tbody>
<tr class="odd">
<td><em><strong> 1.</strong></em> <em>Multicenter,
double-blind,parallel-group,randomised,48weeks,dose ranging, placebo
controlled phase II trial to evaluate efficacy, safety and tolerability
of multiple subcutaneous (s.c.) doses of BI456906 in patients with
non-alcoholic steatohepatitis (NASH) and fibrosis.</em></td>
</tr>
<tr class="even">
<td><em><strong>2.</strong></em> <em>A Phase IIb / III randomized,
double-blind, placebo-controlled study to evaluate the safety and
Efficacy of cotadutide in participants with non-cirrhotic non-alcohol
steatohepatitis with fibrosis (PROYXMO-ADVANCE)</em></td>
</tr>
<tr class="odd">
<td><em><strong>3.</strong></em> <em>A randomized controlled trial to
determine the effects of a diabetes-specific formula on long term
Glycemic control and short-term glycemic variability in individuals with
type 2 diabetes., Co-Researcher, Abbot Manufacturing Singapore Pte
Ltd</em></td>
</tr>
<tr class="even">
<td><em><strong>4.</strong></em> <em>A randomized controlled trial to
determine the effects of a diabetes-specific formula on long term
glycemic control and short-term glycemic variability in individuals with
type 2 diabetes.</em></td>
</tr>
<tr class="odd">
<td><em><strong>5.</strong></em> <em>Multicenter, double-blind,
parallel-group, randomised, 48 weeks, dose ranging, placebo controlled
phase II trial to evaluate efficacy, safety and tolerability of multiple
subcutaneous (s.c.) doses of BI456906 in patients with non-alcoholic
steatohepatitis (NASH) and fibrosis</em></td>
</tr>
<tr class="even">
<td><em><strong>6.</strong></em> <em>Semaglutide Cardiovascular Outcomes
Trial In Patients With Type 2 Diabetes (SOUL Study)</em></td>
</tr>
<tr class="odd">
<td><em><strong>7.</strong></em> <em>A 52 Week Study Comparing The
Efficacy And Safety Of Once Weekly Icosema And Daily Insulin Glargine
100 Units/mL Combined with Insulin Aspart, Both Treatment Arms With Or
Without Oral Anti Diabetic Drugs, In Participants With Type 2 Diabetes
Inadequately Controlled With Daily Basal Insulin (COMBINE-3)</em></td>
</tr>
</tbody>
</table>

## Investigator-initiated

<table>
<tbody>
<tr class="odd">
<td><em>Using big data to improve population health and resource
allocation for people with diabetes In Malaysia, Co-Researcher,
KPM(JPT), Medical Research Council, UK (MRC,UK)</em></td>
</tr>
<tr class="even">
<td><em>Prevalence and Predictors of RAI failure in patients
Hyperthyroidism in UMMC</em></td>
</tr>
<tr class="odd">
<td><em>Diabetic osteosarcopenia: Understanding the Relationship between
Type 2 diabetes mellitus and musculoskeletal health.</em></td>
</tr>
<tr class="even">
<td><em>Difference of basal insulin titration method in reducing HbA1c
among type 2 diabetes Mellitus (T2DM) patients.</em></td>
</tr>
<tr class="odd">
<td><em>Real-World Burden of Comorbidity and Its Determinants in People
with Type 2 Diabetes</em></td>
</tr>
<tr class="even">
<td><em>Plasma Adiponectin, Glycaemic Control And Insulin Use In Women
With Gestational DiabetesMellitus: A Prospective, Observational
Study</em></td>
</tr>
<tr class="odd">
<td><em>Worldwide Phenotypes and Transitions in Obesity-Related
Multimorbidity</em></td>
</tr>
<tr class="even">
<td><em>Treatment AdheRence to Guideline EvaluaTionin T2D (TARGET-T2D)
Study</em></td>
</tr>
<tr class="odd">
<td><em>Hypothalamic Pituitary Dysfunction After Spontaneous
Subarachnoid Haemorrhage:A Prospective Longitudinal Cohort
Study</em></td>
</tr>
<tr class="even">
<td><em>Opioid Endocrinopathy: Prevalence, Predictors and
Outcomes</em></td>
</tr>
<tr class="odd">
<td><em>The Role of Bone Mineral Density Added to Fracture Risk
Assessment Tool (FRAX) in Therapeutic Decision-making For Osteoporosis
In A Malaysian Population</em></td>
</tr>
<tr class="even">
<td><em>Real world evidence for the use of sglt2-inhibitors in patients
with type 2 dm in a Malaysian Tertiary care centre</em></td>
</tr>
<tr class="odd">
<td> <em>DNLITE-IVD103: A Novel Biomarker To Predict Progression Of
Diabetic Kidney Disease</em></td>
</tr>
<tr class="even">
<td><em>Value Of 30 and 60 Minute Cortisol Value During Short Synacthen
Test– Can We Do Away With One Or The Other?</em></td>
</tr>
<tr class="odd">
<td> <em>Prednisolone As A Safe Option For Glucocorticoid Replacement In
Patients With Adrenocorticotroph Deficiency During Ramadan Fasting: A
Pilot Study</em></td>
</tr>
<tr class="even">
<td><em>The Prevalence and Predictive Factors of Weight Bias Amongst
Medical Students in University of Malaya – A Cross-sectional Descriptive
Study</em></td>
</tr>
<tr class="odd">
<td><em>Prevalence and phenotypic variability of healthcare workers with
overweight and obesity in University of Malaya Medical Centre </em></td>
</tr>
</tbody>
</table>





{% endrenderTemplate %}
</article>