---
layout: "triplecolumn"

title: Rheumatolgy

unit: Rheumatolgy

navitems:
    - label:  Introduction
      url:   /units/rheumatology
    - label:  Team
      url:   /units/rheumatology/team
    - label:  Publications
      url:   /units/rheumatology/publications
    - label:  Research
      url:   /units/rheumatology/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Rheumatology Unit
<figure class="hidden md:inline float-right">
  <img alt="HOD" class=" m-0 p-0  w-48 max-auto " src="/static/img/portraits/image31.png"/>
            <figcaption class=" px-4 py-4 text-center text-sm font-base"><p>Prof. Dr. Sargunan Sockalingam<p><p>Head of Unit</p></figcaption>
  </figure>
The Rheumatology Unit in University­ Malaya Medical Centre has been in existence since 1990. It started out as a unit that 
was staffed by trainees and consultants in other fields of medicine, such as Nephrology, Haematology and Geriatric Medicine, due to its wide ranging nature.


Over the years, and especially after 2007, the unit has firmly rooted itself as a centre for Rheumatology Clinical Services catering to the population in Klang Valley and surrounding areas. 
The unit's primary focus apart from clinical service is teaching and it is now an established training centre for Rheumatology fellows from Malaysia and worldwide. 
The unit is an active participant in all the major Rheumatology conferences around the world and its doctors take part in both national and international speaking engagements for universities and corporate bodies. 
{% endrenderTemplate %}
</article>



