---
layout: "sidebar"

title: Rheumatolgy

unit: Rheumatolgy

navitems:
    - label:  Introduction
      url:   /units/rheumatology
    - label:  Team
      url:   /units/rheumatology/team
    - label:  Publications
      url:   /units/rheumatology/publications
    - label:  Research
      url:   /units/rheumatology/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---



<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Publications

<table>
<tbody>
<tr class="odd">
<td>Cheah, Chia Wei; Al-Maleki, Anis Rageh; Vaithilingam, Rathna Devi;
Vadivelu, Jamuna; <strong>Sockalingam, Sargunan</strong>; Baharuddin,
Nor Adinar; Bartold, Peter Mark (2022). Associations between
inflammation-related LL-37 with subgingival microbial dysbiosis in
rheumatoid arthritis patients, CLINICAL ORAL INVESTIGATIONS.
doi:10.1007/s00784-022-04388-y</td>
</tr>
<tr class="even">
<td>Kandane-Rathnayake, Rangi; Louthrenoo, Worawit; Hoi, Alberta; Luo,
Shue-Fen; Wu, Yeong-Jian J.; Chen, Yi-Hsing; Cho, Jiacai; Lateef, Aisha;
Hamijoyo, Laniyati; Navarra, Sandra, V; Zamora, Leonid;
<strong>Sockalingam, Sargunan</strong>; An, Yuan; Li, Zhanguo;
Katsumata, Yasuhiro; Harigai, Masayoshi; Hao, Yanjie; Zhang, Zhuoli;
Kikuchi, Jun; Takeuchi, Tsutomu; Basnayake, B. M. D. B.; Chan, Madelynn;
Ng, Kristine Pek Ling; Tugnet, Nicola; Kumar, Sunil; Oon, Shereen;
Goldblatt, Fiona; O'Neill, Sean; Gibson, Kathryn A.; Ohkubo, Naoaki;
Tanaka, Yoshiya; Bae, Sang-Cheol; Lau, Chak Sing; Nikpour, Mandana;
Golder, Vera; Morand, Eric F. (2022). 'Not at target': prevalence and
consequences of inadequate disease control in systemic lupus
erythematosus-a multinational observational cohort study, ARTHRITIS
RESEARCH &amp; THERAPY. 24(1), . doi:10.1186/s13075-022-02756-3</td>
</tr>
<tr class="odd">
<td><strong>Jasmin Raja</strong>, Tharshannia Balaikerisnan, Letchumy
Praba Ramanaidu, Khean Jin Goh. Large fibre Peripheral Neuropathy in
Systemic Sclerosis. Int J Rheum Dis. 2021 Jan 11. doi:
10.1111/1756-185X.14042.</td>
</tr>
<tr class="even">
<td>Cheng-Yin Tan, Tomica Ambang, <strong>Jasmin Raja</strong>, Nortina
Shahrizaila, <strong>Sargunan Sockalingam</strong>, Shigeaki Suzuki,
Ichizo Nishino, Kum-Thong Wong, Khean-Jin Goh. Immune-mediated
necrotizing myopathy in a multi-ethnic Malaysian cohort. Neurology Asia.
2021;26(2):291 – 299 </td>
</tr>
<tr class="odd">
<td>Lew, P. H., Rahman, M. T., Safii, S. H., Baharuddin, N. A., Bartold,
P. M., <strong>Sockalingam, S</strong>., . Vaithilingam, R. D. (2021).
Antibodies against citrullinated proteins in relation to periodontitis
with or without rheumatoid arthritis: a cross-sectional study. Bmc Oral
Health, 21(1), 11. doi: 10.1186/s12903-021-01712-y</td>
</tr>
<tr class="even">
<td>Tan, C. Y., Ambang, T., Raja, J., Shahrizaila, N.,
<strong>Sockalingam, S</strong>., Suzuki, S.,Goh, K. J. (2021).
Immune-mediated necrotizing myopathy in a multi-ethnic Malaysian cohort.
Neurology Asia, 26(2), 291-299.</td>
</tr>
<tr class="odd">
<td>Lee, Y. H., Baharuddin, N. A., Chan, S. W., Rahman, M. T., Bartold,
P. M., <strong>Sockalingam, S</strong>., &amp; Vaithilingam, R. D.
(2021). Localisation of citrullinated and carbamylated proteins in
inflamed gingival tissues from rheumatoid arthritis patients. Clinical
Oral Investigations, 25(3), 1441-1450. doi:
10.1007/s00784-020-03452-9</td>
</tr>
<tr class="even">
<td>Kandane-Rathnayake, R., Louthrenoo, W., Luo, S.-F., Wu, Y.-J.J.,
Chen, Y.-H., Golder, V., Lateef, A., Cho, J., Navarra, S.V., Zamora, L.,
Hamijoyo, L., <strong>Sockalingam, S</strong>., An, Y., Li, Z., Montes,
R., Oon, S., Katsumata, Y., Harigai, M., Hao, Y., Zhang, Z., Chan, M.,
Kikuchi, J., Takeuchi, T., Goldblatt, F., O Neill, S., Bae, S.-C., Lau,
C.S., Hoi, A., Karyekar, C.S., Nikpour, M., Morand, E.F. and (2021),
Patterns of Medication Use in Systemic Lupus Erythematosus A
Multi-Centre Cohort Study. Arthritis Care &amp; Research</td>
</tr>
<tr class="odd">
<td>Leela Raman, <strong>Fariz Yahya</strong>, Choung Min Ng,
<strong>Sargunan Sockalingam</strong>, Kuganathan Ramasamy, Ravinash
Ratnam, <strong>Jasmin Raja</strong> (2020). Early damage as measured by
SLICC/ACR damage index is a predictor of hospitalization in systemic
lupus erythematosus (SLE). Lupus, Volume: 29 issue: 14, page(s):
1885-1891. (WoS)</td>
</tr>
<tr class="even">
<td>Cheah CW, Al Maleki AR, Vadivelu J, Danaee M, <strong>Sockalingam
S</strong>, Baharuddin NA, Vaithilingam RD. Salivary and serum
cathelicidin LL 37 levels in subjects with rheumatoid arthritis and
chronic periodontitis. Int J Rheum Dis 2020;
https://doi.org/10.1111/1756-185X.13919 (WoS)</td>
</tr>
<tr class="odd">
<td>Lee HJ*, <strong>Pok LSL</strong>*, Ng CM, <strong>Yahya F</strong>,
<strong>Sockalingam S</strong>, <strong>Tee YC</strong>, <strong>Raja
J</strong>. Fatigue and associated factors in a multi-ethnic cohort of
rheumatoid arthritis patients. Int J Rheum Dis. 2020;23:1088 1093.
https://doi.org/10.1111/1756-185X.13897 (*co-first authors) (WoS)</td>
</tr>
<tr class="even">
<td>Sue Yng Fong, <strong>Jasmin Raja</strong>, Kum Thong Wong, Khean
Jin Goh. Systemic lupus erythematosus may have an early effect on
peripheral nerve function in patients without clinical or
electrophysiological neuropathy: comparison with age- and gender-matched
controls. Rheumatol Int 2020; Jun 2. doi: 10.1007/s00296-020-04610-8.
(WoS)</td>
</tr>
<tr class="odd">
<td>Ing Soo Lau, Suk Chyn Gun, Swan Sim Yeap, Mollyza Mohd Zain, Habibah
Mohd Yusoof, <strong>Sargunan Sockalingam</strong>, <strong>Fariz
Yahya</strong> (2021). Algorithm for the referral of patients with
inflammatory back pain from primary care in Malaysia. Malaysian Family
Physician. 2021;16(2). (SCOPUS)</td>
</tr>
<tr class="even">
<td>Shin Shen Yong, Leng Leng Tan, Chin Chwen Ch ng, <strong>Fariz
Yahya</strong>, <strong>Say Lee</strong> Pok, Pei Ying Ch ng, Wee Meng
Ong, Kelvin Shenq Woei Siew, Irdina Aminuddin, Lay Sim Ong, Audrey Ying
Shin Lee, Lina Yusrina Iskandar Zulkarnain, Nurul Hazirah Mohd Hanafiah,
Dina Suraya Mustafa Rawther, Jia Jie Chong, Li Sean Saw, Maw Pin Tan,
Zhenli Kwan. Personal experience and knowledge about psoriasis reduce
misconceptions and discriminatory behavior toward people living with
psoriasis in Malaysia. Dermatologica Sinica. 2020; 38(1):35. (WoS)</td>
</tr>
<tr class="odd">
<td><strong>Yahya F</strong>, Gaffney K, Hamilton L, Lonsdale E, Leeder
J, Brooksby A, Cavill C, Berry-Jenkins J, Boyle C, Bond D, Sengupta R.
Tumour Necrosis Factor inhibitor survival and predictors of response in
axial spondyloarthritis - findings from a United Kingdom cohort.
Rheumatology (Oxford). (WoS)</td>
</tr>
<tr class="even">
<td><strong>Pok, L. S</strong>., Shabaruddin, F. H., Dahlui, M. ,
<strong>Sockalingam, S</strong>. , Mohamed Said, M. S., Rosman, A. ,
Lau, I. S., Isa, L. M., Hussein, H. , Ng, C. T. and Mahadeva, S. (2018),
Clinical and economic implications of upper gastrointestinal adverse
events in Asian rheumatological patients on long term non steroidal anti
inflammatory drugs. Int J Rheum Dis. 2018 May;21(5):943-951. doi:
10.1111/1756-185X.13256. Epub 2018 Jan 5. doi:10.1111/1756-185X.13256
(WoS)</td>
</tr>
</tbody>
</table>



{% endrenderTemplate %}
</article>