---
layout: "sidebar"

title: Rheumatolgy

unit: Rheumatolgy

navitems:
    - label:  Introduction
      url:   /units/rheumatology
    - label:  Team
      url:   /units/rheumatology/team
    - label:  Publications
      url:   /units/rheumatology/publications
    - label:  Research
      url:   /units/rheumatology/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---


<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Active clinical trials

<table>
<tbody>
<tr class="odd">
<td>Protocol no. M16-011: Phase 3 randomised double-blind study
comparing Risankizumab to placebo in active Psoriatic Arthritis patients
with a history of inadequate response to at least one DMARD therapy</td>
</tr>
<tr class="even">
<td>Trial Protocol Number: GS-US-417-0304 Trial Title: A Multicenter,
Double-blind, Long Term Extension Study to Assess the Safety and
Efficacy of Filgotinib in Subjects with Rheumatoid Arthritis
(International)</td>
</tr>
<tr class="odd">
<td>Trial Protocol Number: GS-US-417-0303 Trial Title: A Multicenter,
Double-blind Study to Assess the Safety and Efficacy of Filgotinib in
Methotrexate-naive Subjects with Rheumatoid Arthritis,
(International)</td>
</tr>
<tr class="even">
<td>SENCearly Trial: A double blind, randomised, placebo-controlled
trial evaluating the efficacy and safety of nintedanib in patients with
early diffuse cutaneous Systemic Sclerosis associated Interstitial Lung
Disease (dcSSc-ILD)</td>
</tr>
<tr class="odd">
<td>SENCIS Trial: A double blind, randomised, placebo-controlled trial
evaluating efficacy and safety of oral nintedanib treatment for at least
52 weeks in patients with ‘Systemic Sclerosis associated-Interstitial
Lung Disease’ (SSc-ILD)</td>
</tr>
</tbody>
</table>



{% endrenderTemplate %}
</article>