{% include "partials/nav.njk" %}

<div class="w-full bg-center bg-cover" style="background-image: url(/static/img/units/education.jpg);">
<div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 py-12">
  <div class="text-center">
    <div class="container px-4 mx-auto">
      <div class="max-w-4xl mx-auto text-center">
        <h2 class="mt-8 mb-6 text-4xl lg:text-5xl font-bold text-gray-100">Education</h2>
      </div>
    </div>
  </div>
</div>
</div>


  <div class="grid grid-cols-1 md:grid-cols-4 gap-8 p-8  mx-auto">



    <div class="col-span-4 md:col-span-3 max-w-prose">
  
<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Fellowships

The department of medicine runs fellowship programmes for national and international trainees in several subspecialties.
The department of medicine runs fellowship programmes for national and international trainees in several subspecialties.

The department of medicine runs fellowship programmes for national and international trainees in several subspecialties.

The department of medicine runs fellowship programmes for national and international trainees in several subspecialties.




{% endrenderTemplate %}
</article>

  </div>
      <div  class="col-span-4 md:col-span-1 content-start">
    <div class=" p-2">
      <ul>
        <li class=" p-2 border-b-2"><a href="/contact">Specialty A fellowship</a></li>
        <li class=" p-2 border-b-2"><a href="/contact">Specialty A fellowship</a></li>
        <li class=" p-2 border-b-2"><a href="/contact">Specialty A fellowship</a></li>
        <li class=" p-2 border-b-2"><a href="/contact">Specialty A fellowship</a></li>


      </ul>
    </div>
    </div>
  </div>
   
   

{% include "partials/footer.njk" %}

