{% include "partials/nav.njk" %}

<div class="w-full bg-center bg-cover" style="background-image: url(/static/img/units/education.jpg);">
  <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 py-12">
  <div class="text-center">
    <div class="container px-4 mx-auto">
      <div class="max-w-4xl mx-auto text-center">
        <h2 class="mt-8 mb-6 text-4xl lg:text-5xl font-bold text-gray-100">Education</h2>
      </div>
    </div>
  </div>
  </div>
</div>


<div class="grid grid-cols-1 md:grid-cols-4 gap-8 p-8  mx-auto">
  <div class="col-span-4 md:col-span-3 max-w-prose">
  
<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Master of Medical Science (MMedSc)

Some intro text here about the programme in general etc...

## Programme structure
  <img alt="HOD" class="" src="/static/img/units/mmedsc.png"/>


## MMedSc Graduation Criteria

- Completed at least 1 WOS
- Complete residential requirement at least one semester (international canidates)
- Completed language requirements
- Minimum two, maximum 8 semesters
- GOT with 4th semester (with senate letter)
{% endrenderTemplate %}
</article>

  </div>


      <div  class="col-span-4 md:col-span-1 content-start">
        <div class="p-2">
          <ul>
            <li class=" p-2 border-b-2"><a href="https://medicine.um.edu.my/master-of-medical-science">Programme Information (Faculty site)</a></li>
            <li class=" p-2 border-b-2"><a href="/contact">Contact to apply</a></li>
          </ul>
        </div>
          <div class="mt-8 p-4 bg-gray-200">
              <h2 class="font-semibold">Department of Medicine Contact:</h2>
              <p class="my-0">Dr. Jesinda Pauline Kerishnan</p>
              <p class="my-0">Postgraduate Coordinator</p>
              <p class="my-0">Tel: +60379672421</p>
              <p class="my-0">email: <a class="decoration-sky-500" href="mailto:aida_med@ummc.edu.my">jesindapaul@um.edu.my</a></p>
          </div>
          <div class="mt-8 p-4 bg-gray-200">
              <h2 class="font-semibold">Faculty of Medicine Contact:</h2>
              <p class="my-0">Mr. Muhd Shahrul Harris Abdullah</p>
              <p class="my-0">email: <a class="decoration-sky-500" href="mailto:aida_med@ummc.edu.my">muhdharris@um.edu.my</a></p>
          </div>
      </div>



</div>
{% include "partials/footer.njk" %}
