---
layout: "triplecolumn"

title: Gastroenterology and Hepatology

unit: Gastroenterology and Hepatology

navitems:
    - label:  Introduction
      url:   /units/gastroenterology
    - label:  Team
      url:   /units/gastroenterology/team
    - label:  Publications
      url:   /units/gastroenterology/publications


linkitems:


titleimage: "/static/img/units/id.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
<figure class="hidden md:inline float-right">
  <img alt="HOD" class=" m-0 p-0  w-48 max-auto " src="/static/img/portraits/image27.png"/>
            <figcaption class=" px-4 py-4 text-center text-sm font-base"><p>Prof. Dr Sanjiv Mahadeva<p><p>Head of Unit</p></figcaption>
  </figure>
The gastroenterology and hepatology unit in UMMC is one of the most advanced tertiary centers in Malaysia.
 We offer a comprehensive and state-of-the art care in a wide range of complex gastrointestinal (GI) and liver diseases in the country. 
 In addition to that, we provide services in advance therapeutic endoscopic procedures. 
 The endoscopy unit is one of 17 centers in the world to be accredited the Centers of Excellence by the World Endoscopy Organization (WEO). 
 The gastroenterology and hepatology unit is additionally part of a multi-disciplinary Adult Liver Transplant service in UMMC.

{% endrenderTemplate %}
</article>