---
layout: "sidebar"

title: Gastroenerology and Hepatology

unit: Gastroenerology and Hepatology

navitems:
    - label:  Introduction
      url:   /units/gastroenterology
    - label:  Team
      url:   /units/gastroenterology/team
    - label:  Publications
      url:   /units/gastroenterology/publications


linkitems:
    - label:  CERiA
      url:   https://www.ceria.um.edu.my
    - label:  UMMC Antibiotic guideline
      url:   https://farmasi.ummc.edu.my/ummc-on-line-antibiotic-guideline

titleimage: "/static/img/units/id.jpg"
---




<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Publications

<table>
<tbody>
<tr class="odd">
<td>Chan, Wah-Kheong; Tan, Soek-Siam; Chan, Siew-Pheng; Lee, Yeong-Yeh;
Tee, Hoi-Poh; Mahadeva, Sanjiv; Goh, Khean-Lee; Ramli, Anis Safura;
Mustapha, Feisul; Kosai, Nik Ritza; Raja Ali, Raja Affendi (2022).
Malaysian Society of Gastroenterology and Hepatology consensus statement
on metabolic dysfunction-associated fatty liver disease, JOURNAL OF
GASTROENTEROLOGY AND HEPATOLOGY. 37(5), 795-811.
doi:10.1111/jgh.15787</td>
</tr>
<tr class="even">
<td>Chan, Wah-Kheong; Wong, Vincent W. -S. (2022). Meaning of
non-overlapping patients between the MAFLD and NAFLD definitions, LIVER
INTERNATIONAL. 42(2), 271-273. doi:10.1111/liv.15142</td>
</tr>
<tr class="odd">
<td>Leung, Howard Ho-Wai; Puspanathan, Pavitratha; Chan, Anthony
Wing-Hung; Mustapha, Nik Raihan Nik; Wong, Vincent Wai-Sun; Chan,
Wah-Kheong (2022). Reliability of the nonalcoholic steatohepatitis
clinical research network and steatosis activity fibrosis histological
scoring systems, JOURNAL OF GASTROENTEROLOGY AND HEPATOLOGY. (), .
doi:10.1111/jgh.15843</td>
</tr>
<tr class="even">
<td>Lim, Sze Zee; Chuah, Kee Huat; Rajaram, Ruveena Bhavani; Stanley,
Khoo; Shahrani, Shahreedhan; Chan, Wah Kheong; Ho, Shiaw Hooi; Hilmi,
Ida Normiha; Goh, Khean Lee; Mahadeva, Sanjiv (2022). Epidemiological
trends of gastrointestinal and liver diseases in Malaysia: A
single-center observational study, JOURNAL OF GASTROENTEROLOGY AND
HEPATOLOGY. (), . doi:10.1111/jgh.15905</td>
</tr>
<tr class="odd">
<td>Mendez-Sanchez, Nahum; Bugianesi, Elisabetta; Gish, Robert G.;
Lammert, Frank; Tilg, Herbert; Nguyen, Mindie H.; Sarin, Shiv K.;
Fabrellas, Nuria; Zelber-Sagi, Shira; Fan, Jian-Gao; Shiha, Gamal;
Targher, Giovanni; Zheng, Ming-Hua; Chan, Wah-Kheong; Vinker, Shlomo;
Kawaguchi, Takumi; Castera, Laurent; Yilmaz, Yusuf; Korenjak, Marko;
Spearman, C. Wendy; Ungan, Mehmet; Palmer, Melissa; El-Shabrawi,
Mortada; Gruss, Hans-Juergen; Dufour, Jean-Francois; Dhawan, Anil;
Wedemeyer, Heiner; George, Jacob; Valenti, Luca; Fouad, Yasser;
Romero-Gomez, Manuel; Eslam, Mohammed (2022). Global multi-stakeholder
endorsement of the MAFLD definition, LANCET GASTROENTEROLOGY &amp;
HEPATOLOGY. 7(5), 388-390. doi:10.1016/S2468-1253(22)00062-0</td>
</tr>
<tr class="even">
<td>Prasoppokakorn, Thaninee; Chan, Wah-Kheong; Wong, Vincent Wai-Sun;
Pitisuttithum, Panyavee; Mahadeva, Sanjiv; Mustapha, Nik Raihan Nik;
Wong, Grace Lai-Hung; Leung, Howard Ho-Wai; Sripongpun, Pimsiri;
Treeprasertsuk, Sombat (2022). Validation model of fibrosis-8 index
score to predict significant fibrosis among patients with nonalcoholic
fatty liver disease, WORLD JOURNAL OF GASTROENTEROLOGY. 28(15),
1563-1573. doi:10.3748/wjg.v28.i15.1563</td>
</tr>
<tr class="odd">
<td>Wong, Wei-Kei; Chan, Wah-Kheong; Ganapathy, Shubash Shander; Lim,
Soo-Kun (2022). Metabolic dysfunction-associated fatty liver disease
(MAFLD) and advanced liver fibrosis among hemodialysis patients in a
multiethnic urban population in Malaysia, SEMINARS IN DIALYSIS. (), .
doi:10.1111/sdi.13117</td>
</tr>
<tr class="even">
<td>Yip, Terry Cheuk-Fung; Lee, Hye Won; Chan, Wah Kheong; Wong, Grace
Lai-Hung; Wong, Vincent Wai-Sun (2022). Asian perspective on
NAFLD-associated HCC, JOURNAL OF HEPATOLOGY. 76(3), 726-734.
doi:10.1016/j.jhep.2021.09.024</td>
</tr>
<tr class="odd">
<td>Younossi, Zobair M.; Ong, Janus P.; Takahashi, Hirokazu; Yilmaz,
Yusuf; Hi, Yuichiro Eguc; El Kassas, Mohamed; Buti, Maria; Diago,
Moises; Zheng, Ming-Hua; Fan, Jian-Gao; Yu, Ming-Lung; Wong, Vincent
Wai-Sun; Alswat, Khalid; Chan, Wah-Kheong; Mendez-Sanchez, Nahum; Burra,
Patrizia; Bugianesi, Elisabetta; Duseja, Ajay K.; George, Jacob;
Papatheodoridis, George, V; Saeed, Hamid; Castera, Laurent; Arrese,
Marco; Kugelmas, Marcelo; Romero-Gomez, Manuel; Alqahtani, Saleh;
Ziayee, Mariam; Lam, Brian; Younossi, Issah; Racila, Andrei; Henry,
Linda; Stepanova, Maria (2022). A Global Survey of Physicians Knowledge
About Nonalcoholic Fatty Liver Disease, CLINICAL GASTROENTEROLOGY AND
HEPATOLOGY. 20(6), E1456-E1468. doi:10.1016/j.cgh.2021.06.048</td>
</tr>
<tr class="even">
<td>Younossi, Zobair M.; Yilmaz, Yusuf; El-Kassas, Mohamed; Duseja,
Ajay; Hamid, Saeed; Esmat, Gamal; Mendez-Sanchez, Nahum; Chan, Wah
Kheong; Singal, Ashwani K.; Lam, Brian; Felix, Sean; Younossi, Elena;
Verma, Manisha; Price, Jillian K.; Nader, Fatema; Younossi, Issah;
Racila, Andrei; Stepanova, Maria (2022). The impact of the COVID-19
pandemic on patients with chronic liver disease: Results from the Global
Liver Registry, HEPATOLOGY COMMUNICATIONS. (), .
doi:10.1002/hep4.2048</td>
</tr>
<tr class="odd">
<td>Younossi, Zobair M.; Yu, Ming-Lung; El-Kassas, Mohamed; Esmat,
Gamal; Fernandez, Marlen I. Castellanos; Buti, Maria; Papatheodoridis,
Georgios; Yilmaz, Yusuf; Isakov, Vasily; Duseja, Ajay; Mendez-Sanchez,
Nahum; Hamid, Saeed; Gordon, Stuart C.; Romero-Gomez, Manuel; Chan,
Wah-Kheong; Ong, Janus P.; Younossi, Issah; Lam, Brain; Ziayee, Mariam;
Nader, Fatema; Racila, Andrei; Henry, Linda; Stepanova, Maria (2022).
Severe impairment of patient-reported outcomes in patients with chronic
hepatitis C virus infection seen in real-world practices across the
world: Data from the global liver registry, JOURNAL OF VIRAL HEPATITIS.
(), . doi:10.1111/jvh.13741</td>
</tr>
<tr class="even">
<td>Andrieux-Meyer, I., Tan, S. S., Thanprasertsuk, S., Salvadori, N.,
Menetrey, C., Simon, F., . . . Murad, S. (2021). Efficacy and safety of
ravidasvir plus sofosbuvir in patients with chronic hepatitis C
infection without cirrhosis or with compensated cirrhosis (STORM-C-1):
interim analysis of a two-stage, open-label, multicentre, single arm,
phase 2/3 trial. Lancet Gastroenterology &amp; Hepatology, 6(6),
448-458. doi: 10.1016/s2468-1253(21)00031-5</td>
</tr>
<tr class="odd">
<td>Ng, Y. Z., Lai, L. L., Wong, S. W., Mohamad, S. Y., Chuah, K. H.,
&amp; Chan, W. K. (2021). Attenuation parameter and liver stiffness
measurement using FibroTouch vs Fibroscan in patients with chronic liver
disease. Plos One, 16(5), 13. doi: 10.1371/journal.pone.0250300</td>
</tr>
<tr class="even">
<td>Petroff, D., Blank, V., Newsome, P. N., Shalimar, Voican, C. S.,
Thiele, M., . . . Karlas, T. (2021). Assessment of hepatic steatosis by
controlled attenuation parameter using the M and XL probes: an
individual patient data meta-analysis. Lancet Gastroenterology &amp;
Hepatology, 6(3), 185-198. doi: 10.1016/s2468-1253(20)30357-5</td>
</tr>
<tr class="odd">
<td>Sang, C., Yan, H. M., Chan, W. K., Zhu, X. P., Sun, T., Chang, X.
X., . . . Xie, G. X. (2021). Diagnosis of Fibrosis Using Blood Markers
and Logistic Regression in Southeast Asian Patients With Non-alcoholic
Fatty Liver Disease. Frontiers in Medicine, 8, 10. doi:
10.3389/fmed.2021.637652</td>
</tr>
<tr class="even">
<td>Tan, E. Z. Y., Lai, L. L., Vethakkan, S. R., Mustapha, N. R. N.,
Mahadeva, S., &amp; Chan, W. K. (2021). Modest alcohol intake not
associated with significant hepatic steatosis or more severe liver
disease among patients with diabetes mellitus. Journal of
Gastroenterology and Hepatology, 36(3), 751-757. doi:
10.1111/jgh.15160</td>
</tr>
<tr class="odd">
<td>Ting, Y. W., Kong, A. S. Y., Zain, S. M., Chan, W. K., Tan, H. L.,
Mohamed, Z., . . . Mohamed, R. (2021). Loss-of-function HSD17B13
variants, non-alcoholic steatohepatitis and adverse liver outcomes:
Results from a multi-ethnic Asian cohort. Clinical and Molecular
Hepatology, 27(3), 486-498. doi: 10.3350/cmh.2020.0162</td>
</tr>
<tr class="even">
<td>Wong, W. K., &amp; Chan, W. K. (2021). Nonalcoholic Fatty Liver
Disease: A Global Perspective. Clinical Therapeutics, 43(3), 473-499.
doi: 10.1016/j.clinthera.2021.01.007</td>
</tr>
<tr class="odd">
<td>Zhou, Y. J., Gao, F., Liu, W. Y., Wong, G. L. H., Mahadeva, S.,
Mustapha, N. R. N., . . . Zheng, M. H. (2021). Screening for compensated
advanced chronic liver disease using refined Baveno VI elastography
cutoffs in Asian patients with nonalcoholic fatty liver disease.
Alimentary Pharmacology &amp; Therapeutics, 54(4), 470-480. doi:
10.1111/apt.16487</td>
</tr>
<tr class="even">
<td>Adams, L. A., &amp; Chan, W. K. (2020). Noninvasive Tests in the
Assessment of NASH and NAFLD Fibrosis: Now and Into the Future. Seminars
in Liver Disease, 40(04), 331-338. doi: 10.1055/s-0040-1713006</td>
</tr>
<tr class="odd">
<td>Chan, T. T., Chan, W. K., Wong, G. L. H., Chan, A. W. H., Mustapha,
N. R. N., Chan, S. L., . . . Wong, V. W. S. (2020). Positive Hepatitis B
Core Antibody Is Associated With Cirrhosis and Hepatocellular Carcinoma
in Nonalcoholic Fatty Liver Disease. American Journal of
Gastroenterology, 115(6), 867-875. doi:
10.14309/ajg.0000000000000588</td>
</tr>
<tr class="even">
<td>Chong, C. C. N., Lakhtakia, S., Nguyen, N., Hara, K., Chan, W. K.,
Puri, R., . . . Teoh, A. Y. B. (2020). Endoscopic ultrasound-guided
tissue acquisition with or without macroscopic on-site evaluation:
randomized controlled trial. Endoscopy, 52(10), 856-863. doi:
10.1055/a-1172-6027</td>
</tr>
<tr class="odd">
<td>Chuah, K. H., Lai, L. L., Vethakkan, S. R., Mustapha, N. R. N.,
Mahadeva, S., &amp; Chan, W. K. (2020). Liver stiffness measurement in
non-alcoholic fatty liver disease: Two is better than one. Journal of
Gastroenterology and Hepatology, 35(8), 1404-1411. doi:
10.1111/jgh.14978</td>
</tr>
<tr class="even">
<td>Eslam, M., Newsome, P. N., Sarin, S. K., Anstee, Q. M., Targher, G.,
Romero-Gomez, M., . . . George, J. (2020). A new definition for
metabolic dysfunction-associated fatty liver disease: An international
expert consensus statement. Journal of Hepatology, 73(1), 202-209. doi:
10.1016/j.jhep.2020.03.039</td>
</tr>
<tr class="odd">
<td>Eslam, M., Sarin, S. K., Wong, V. W. S., Fan, J. G., Kawaguchi, T.,
Ahn, S. H., . . . George, J. (2020). The Asian Pacific Association for
the Study of the Liver clinical practice guidelines for the diagnosis
and management of metabolic associated fatty liver disease. Hepatology
International, 14(6), 889-919. doi: 10.1007/s12072-020-10094-2</td>
</tr>
<tr class="even">
<td>Gao, F., Huang, J. F., Zheng, K. I., Pan, X. Y., Ma, H. L., Liu, W.
Y., . . . Zheng, M. H. (2020). Development and validation of a novel
non-invasive test for diagnosing fibrotic non-alcoholic steatohepatitis
in patients with biopsy-proven non-alcoholic fatty liver disease.
Journal of Gastroenterology and Hepatology, 35(10), 1804-1812. doi:
10.1111/jgh.15055</td>
</tr>
<tr class="odd">
<td>Harry, S., Lai, L. L., Mustapha, N. R. N., Aziz, Y. F. A.,
Vijayananthan, A., Rahmat, K., . . . Chan, W. K. (2020). Volumetric
Liver Fat Fraction Determines Grade of Steatosis More Accurately Than
Controlled Attenuation Parameter in Patients With Nonalcoholic Fatty
Liver Disease. Clinical Gastroenterology and Hepatology, 18(4), 945-+.
doi: 10.1016/j.cgh.2019.08.023</td>
</tr>
<tr class="even">
<td>Khoo, S., Wong, V. W. S., Goh, G. B. B., Fan, J. G., Chan, W. K.,
Seto, W. K., Chow, W. C. (2020). Suboptimal treatment of dyslipidemia in
patients with nonalcoholic fatty liver disease. Journal of
Gastroenterology and Hepatology, 35(2), 320-325. doi:
10.1111/jgh.14794</td>
</tr>
<tr class="odd">
<td>Lai, L. L., Vethakkan, S. R., Mustapha, N. R. N., Mahadeva, S.,
Chan, W. K. (2020). Empagliflozin for the Treatment of Nonalcoholic
Steatohepatitis in Patients with Type 2 Diabetes Mellitus. Digestive
Diseases and Sciences, 65(2), 623-631. doi:
10.1007/s10620-019-5477-1</td>
</tr>
<tr class="even">
<td>Lai, Lee-Lee; Vethakkan, Shireene Ratna; Nik Mustapha, Nik Raihan;
Mahadeva, Sanjiv; Chan, Wah-Kheong (2020). Empagliflozin for the
Treatment of Nonalcoholic Steatohepatitis in Patients with Type 2
Diabetes Mellitus, DIGESTIVE DISEASES AND SCIENCES. 65(2), 623-631.
doi:10.1007/s10620-019-5477-1</td>
</tr>
<tr class="odd">
<td>Leong, W. L., Lai, L. L., Mustapha, N. R. N., Vijayananthan, A.,
Rahmat, K., Mahadeva, S., Chan, W. K. (2020). Comparing point shear wave
elastography (ElastPQ) and transient elastography for diagnosis of
fibrosis stage in non-alcoholic fatty liver disease. Journal of
Gastroenterology and Hepatology, 35(1), 135-141. doi:
10.1111/jgh.14782</td>
</tr>
<tr class="even">
<td>Leong, Wai Ling; Lai, Lee Lee; Mustapha, Nik Raihan Nik;
Vijayananthan, Anushya; Rahmat, Kartini; Mahadeva, Sanjiv; Chan, Wah
Kheong (2020). Comparing point shear wave elastography (ElastPQ) and
transient elastography for diagnosis of fibrosis stage in non-alcoholic
fatty liver disease, JOURNAL OF GASTROENTEROLOGY AND HEPATOLOGY. 35(1),
135-141. doi:10.1111/jgh.14782</td>
</tr>
<tr class="odd">
<td>Newsome, P. N., Sasso, M., Deeks, J. J., Paredes, A., Boursier, J.,
Chan, W. K., . . . Harrison, S. A. (2020). FibroScan-AST (FAST) score
for the non-invasive identification of patients with non-alcoholic
steatohepatitis with significant activity and fibrosis: a prospective
derivation and global validation study. Lancet Gastroenterology
Hepatology, 5(4), 362-373. doi: 10.1016/s2468-1253(19)30383-8</td>
</tr>
<tr class="even">
<td>Newsome, Philip N.; Sasso, Magali; Deeks, Jonathan J.; Paredes,
Angelo; Boursier, Jerome; Chan, Wah-Kheong; Yilmaz, Yusuf; Czernichow,
Sebastien; Zheng, Ming-Hua; Wong, Vincent Wai-Sun; Allison, Michael;
Tsochatzis, Emmanuel; Anstee, Quentin M.; Sheridan, David A.; Eddowes,
Peter J.; Guha, Indra N.; Cobbold, Jeremy F.; Paradis, Valerie; Bedossa,
Pierre; Miette, Veronique; Fournier-Poizat, Celine; Sandrin, Laurent;
Harrison, Stephen A. (2020). FibroScan-AST (FAST) score for the
non-invasive identification of patients with non-alcoholic
steatohepatitis with significant activity and fibrosis: a prospective
derivation and global validation study, LANCET GASTROENTEROLOGY &amp;
HEPATOLOGY. 5(4), 362-373. doi:10.1016/S2468-1253(19)30383-8</td>
</tr>
<tr class="odd">
<td>Pitisuttithum, P., Chan, W. K., Goh, G. B. B., Fan, J. G., Song, M.
J., Charatcharoenwitthaya, P., . . . Treeprasertsuk, S. (2020).
Gamma-glutamyl transferase and cardiovascular risk in nonalcoholic fatty
liver disease: The Gut and Obesity Asia initiative. World Journal of
Gastroenterology, 26(19), 2416-2426. doi: 10.3748/wjg.v26.i19.2416</td>
</tr>
<tr class="even">
<td>Pitisuttithum, P., Chan, W. K., Piyachaturawat, P., Imajo, K.,
Nakajima, A., Seki, Y., . . . Treeprasertsuk, S. (2020). Predictors of
advanced fibrosis in elderly patients with biopsy-confirmed nonalcoholic
fatty liver disease: the GOASIA study. Bmc Gastroenterology, 20(1), 9.
doi: 10.1186/s12876-020-01240-z</td>
</tr>
<tr class="odd">
<td>Pitisuttithum, Panyavee; Chan, Wah Kheong; Piyachaturawat, Panida;
Imajo, Kento; Nakajima, Atsushi; Seki, Yosuke; Kasama, Kazunori;
Kakizaki, Satoru; Fan, Jian Gao; Song, Myeong Jun; Yoon, Seung Kew; Dan,
Yock Young; Lesmana, Laurentius; Ho, Khek Yu; Goh, Khean Lee; Wong,
Vincent Wai Sun; Treeprasertsuk, Sombat (2020). Predictors of advanced
fibrosis in elderly patients with biopsy-confirmed nonalcoholic fatty
liver disease: the GOASIA study, BMC GASTROENTEROLOGY. 20(1), .
doi:10.1186/s12876-020-01240-z</td>
</tr>
<tr class="even">
<td>Tan, H. L., Zain, S. M., Eng, H. S., Mohamed, Z., Mahadeva, S.,
Chan, W. K., . . . Mohamed, R. (2020). Allele HLA-DQB1*06 reduces
fibrosis score in patients with non-alcoholic fatty liver disease.
Hepatology Research, 50(8), 947-954. doi: 10.1111/hepr.13525</td>
</tr>
<tr class="odd">
<td>Wong, G. L. H., Wong, V. W. S., Thompson, A., Jia, J. D., Hou, J.
L., Lesmana, C. R. A., . . . Asia-Pacific Working Grp, L. (2020).
Management of patients with liver derangement during the COVID-19
pandemic: an Asia-Pacific position statement. Lancet Gastroenterology
&amp; Hepatology, 5(8), 776-787. doi: 10.1016/s2468-1253(20)30190-4</td>
</tr>
<tr class="even">
<td>Wong, S. W., Chan, W. K., &amp; Mohamed, R. (2020). Fatty liver is
associated with advanced fibrosis but does not predict adverse outcomes
in patients with chronic hepatitis B. Journal of Viral Hepatitis,
27(12), 1297-1305. doi: 10.1111/jvh.13361</td>
</tr>
<tr class="odd">
<td>Zhang, X. R., Goh, G. B. B., Chan, W. K., Wong, G. L. H., Fan, J.
G., Seto, W. K., . . . Wong, V. W. S. (2020). Unhealthy lifestyle habits
and physical inactivity among Asian patients with non-alcoholic fatty
liver disease. Liver International, 40(11), 2719-2731. doi:
10.1111/liv.14638</td>
</tr>
<tr class="even">
<td>Chan, W. K., Treeprasertsuk, S., Goh, G. B. B., Fan, J. G., Song, M.
J., Charatcharoenwitthaya, P., . . . Wong, V. W. S. (2019). Optimizing
Use of Nonalcoholic Fatty Liver Disease Fibrosis Score, Fibrosis-4
Score, and Liver Stiffness Measurement to Identify Patients With
Advanced Fibrosis. Clinical Gastroenterology and Hepatology, 17(12),
2570-+. doi:10.1016/j.cgh.2019.03.006</td>
</tr>
<tr class="odd">
<td>Chuah, Kee Huat; Cheong, Suh Yu; Lim, Sze Zee; Mahadeva, Sanjiv
(2022). Functional dyspepsia leads to more healthcare utilization in
secondary care compared with other functional gastrointestinal
disorders, JOURNAL OF DIGESTIVE DISEASES. (), .
doi:10.1111/1751-2980.13082 </td>
</tr>
<tr class="even">
<td>Chuah, Kee Huat; Mahadeva, Sanjiv (2022). Herbal therapies in
functional dyspepsia: Do they really work?, JOURNAL OF GASTROENTEROLOGY
AND HEPATOLOGY. 37(3), 415-416. doi:10.1111/jgh.1577 </td>
</tr>
<tr class="odd">
<td>Chuah, Kee Huat; Wong, Mung Seong; Tan, Phei Oon; Lim, Sze Zee; Beh,
Keng Hau; Chong, Sufian Chern Siong; Zulkifli, Khairil Khuzaini; Thalha,
Abdul Malik; Mahadeva, Sanjiv; Lee, Yeong Yeh (2022). Small Intestinal
Bacterial Overgrowth In Various Functional Gastrointestinal Disorders: A
Case-Control Study, DIGESTIVE DISEASES AND SCIENCES. (), .
doi:10.1007/s10620-021-07227-4 </td>
</tr>
<tr class="even">
<td>Rajaram, Ruveena B.; Jayaraman, Thevaraajan; Yoong, Boon-Koon; Koh,
Peng-Soon; San Loh, Pui; Koong, Jun-Kit; Khalil, Alizan A.; Hashim,
Noorjahan Haneem Md; Jamaluddin, Fadhil H.; Mahadeva, Sanjiv (2022).
Non-alcoholic fatty liver disease and obesity among adult donors are
major challenges to living-donor liver transplantation: A single-center
experience, ASIAN JOURNAL OF SURGERY. 45(1), 441-447.
doi:10.1016/j.asjsur.2021.07.046 </td>
</tr>
<tr class="odd">
<td>Shahrani, Shahreedhan; Sooi, Choong Yeong; Hilmi, Ida Normiha;
Mahadeva, Sanjiv (2022). Autoimmune hepatitis (AIH) following
coronavirus (COVID-19) vaccine-No longer exclusive to mRNA vaccine?,
LIVER INTERNATIONAL. 42(10), 2344-2345. doi:10.1111/liv.15350 </td>
</tr>
<tr class="even">
<td>Siah, Kewin Tien Ho; Mahadeva, Sanjiv (2022). Post-COVID-19
functional gastrointestinal disorders: Prepare for a GI aftershock,
JOURNAL OF GASTROENTEROLOGY AND HEPATOLOGY. 37(3), 413-414.
doi:10.1111/jgh.15776 </td>
</tr>
<tr class="odd">
<td>Yii, Raymond Shi Liang; Chuah, Kee Huat; Poh, Keat Seong; Lau, Peng
Choong; Ng, Khoon Leong; Ho, Shiaw Hooi; Mahadeva, Sanjiv (2022).
Retained Endoscope: An Unexpected but Serious Complication of Hemospray
(R), DIGESTIVE DISEASES AND SCIENCES. (), .
doi:10.1007/s10620-021-06835-4 </td>
</tr>
<tr class="even">
<td>Beh, K. H., Chuah, K. H., Rappek, N. A. M., &amp; Mahadeva, S.
(2021). The association of body mass index with functional dyspepsia is
independent of psychological morbidity: A cross-sectional study. PloS
one, 16(1), 13. doi: 10.1371/journal.pone.0245511 </td>
</tr>
<tr class="odd">
<td>Chuah, K. H., Beh, K. H., Rappek, N. A. M., &amp; Mahadeva, S.
(2021). The epidemiology and quality of life of functional
gastrointestinal disorders according to Rome III vs Rome IV criteria: A
cross-sectional study in primary care. Journal of Digestive Diseases,
22(3), 159-166. doi: 10.1111/1751-2980.12975 </td>
</tr>
<tr class="even">
<td>Ford, A. C., Moayyedi, P., Black, C. J., Yuan, Y. H., Veettil, S.
K., Mahadeva, S., . . . Lee, Y. Y. (2021). Systematic review and network
meta-analysis: efficacy of drugs for functional dyspepsia. Alimentary
Pharmacology &amp; Therapeutics, 53(1), 8-21. doi: 10.1111/apt.16072
</td>
</tr>
<tr class="odd">
<td>Oshima, T., Siah, K. T. H., Kim, Y. S., Patcharatrakul, T., Chen, C.
L., Mahadeva, S., . . . Miwa, H. (2021). Knowledge, Attitude, and
Practice Survey of Gastroparesis in Asia by Asian Neurogastroenterology
and Motility Association. Journal of Neurogastroenterology and Motility,
27(1), 46-54. doi: 10.5056/jnm20117 </td>
</tr>
<tr class="even">
<td>Tan, A. H., Chong, C. W., Lim, S. Y., Yap, I. K. S., Teh, C. S. J.,
Loke, M. F., . . . Lang, A. E. (2021). Gut Microbial Ecosystem in
Parkinson Disease: New Clinicobiological Insights from Multi-Omics.
Annals of Neurology, 89(3), 546-559. doi: 10.1002/ana.25982 </td>
</tr>
<tr class="odd">
<td>Tan, A. H., Lim, S. Y., Chong, K. K., Manap, M., Hor, J. W., Lim, J.
L., . . . Lang, A. E. (2021). Probiotics for Constipation in Parkinson
Disease A Randomized Placebo-Controlled Study. Neurology, 96(5),
E772-E782. doi: 10.1212/wnl.0000000000010998 </td>
</tr>
<tr class="even">
<td>Tan, E. Z. Y., Lai, L. L., Vethakkan, S. R., Mustapha, N. R. N.,
Mahadeva, S., &amp; Chan, W. K. (2021). Modest alcohol intake not
associated with significant hepatic steatosis or more severe liver
disease among patients with diabetes mellitus. Journal of
Gastroenterology and Hepatology, 36(3), 751-757. doi: 10.1111/jgh.15160
</td>
</tr>
<tr class="odd">
<td>Zhou, Y. J., Gao, F., Liu, W. Y., Wong, G. L. H., Mahadeva, S.,
Mustapha, N. R. N., . . . Zheng, M. H. (2021). Screening for compensated
advanced chronic liver disease using refined Baveno VI elastography
cutoffs in Asian patients with nonalcoholic fatty liver disease.
Alimentary Pharmacology &amp; Therapeutics, 54(4), 470-480. doi:
10.1111/apt.16487 </td>
</tr>
<tr class="even">
<td>Ford, A. C., Mahadeva, S., Carbone, M. F., Lacy, B. E., &amp;
Talley, N. J. (2020). Functional Gastrointestinal Disorders 3 Functional
dyspepsia. Lancet, 396(10263), 1689-1702. doi:
10.1016/s0140-6736(20)30469-4 </td>
</tr>
<tr class="odd">
<td>Mahadeva, S., Chia, Y. C., Vinothini, A., Mohazmi, M., Goh, K. L.
(2008). Cost-effectiveness of and satisfaction with a Helicobacter
pylori "test and treat'' strategy compared with prompt endoscopy in
young Asians with dyspepsia, Gut. 57(0017-5749 ), 9 </td>
</tr>
<tr class="even">
<td>Mahadeva, S., Goh, K. L. (2006). Epidemiology of functional
dyspepsia: A global perspective, World Journal of Gastroenterology.
12(17), 2661-2666 </td>
</tr>
<tr class="odd">
<td>Mahadeva, S., Raman, M. C., Ford, A. C., Follows, M., Axon, A. T.
R., Goh, K. L., et al. (2005). Gastro-oesophageal reflux is more
prevalent in Western dyspeptics: a prospective comparison of British and
South-East Asian patients with dyspepsia, Alimentary Pharmacology
Therapeutics. 21(12), 1483-1490 </td>
</tr>
<tr class="even">
<td>Mahadeva, S., Goh, K. L. (2003). Can a non-invasive strategy for
managing young dyspeptics be safely implemented in Asia?, Journal of
Gastroenterology and Hepatology. 18(4), 359-362 </td>
</tr>
<tr class="odd">
<td>Ho SH, Nik Arsyad NMA, Lau PC, Jamaludin FH, Mahadeva S. Acquiring
new complex endoscopic skills: Experience from the development of
peroral endoscopic myotomy (POEM) in Malaysia. JGH Open. 2021
;5(7):729-733. </td>
</tr>

<tr class="odd">
<td>Khoo, Xin-Hui; Wong, Shin Yee; Ibrahim, Nik Razima Wan; Ng, Ruey
Terng; Chew, Kee Seang; Lee, Way Seah; Wong, Zhi Qin; Raja Ali, Raja
Affend; Shahrani, Shahreedhan; Leow, Alex Hwong-Ruey; Hilmi, Ida Normiha
(2022). Nudix Hydroxylase 15 Mutations Strongly Predict
Thiopurine-Induced Leukopenia Across Different Asian Ethnicities:
Implications for Screening in a Diverse Population, FRONTIERS IN
MEDICINE. 9(), . doi:10.3389/fmed.2022.880937 </td>
</tr>
<tr class="even">
<td>Nik Muhamad Affendi, Nik Arsyad; Ravindran, Sarala; Siam, Tan Soek;
Leow, Alex Hwong-Ruey; Hilmi, Ida (2022). Jaundice in a Primary
Sclerosing Cholangitis Patient: A New Cause in a New Era, INFLAMMATORY
BOWEL DISEASES. 28(3), E29-E30. doi:10.1093/ibd/izab250 </td>
</tr>
<tr class="odd">
<td>Yu, N.; Tassone, D.; Lee, T.; Phan, S.; Wu, D. M.; Zhang, J.; Wang,
L.; Tjahyadi, J.; Dutt, K.; Liou, H.; Basnayake, C.; Wright, E.; Lust,
M.; Niewiadomski, O.; Kamm, M. A.; Connell, W.; Thompson, A. J.; Hilmi,
I.; Ali, R. A. Raja; Wei, S. C.; De Cruz, P.; Friedman, A. B.; Moore, G.
T.; Van Langenberg, D.; Ding, N. (2022). 6-Thioguanine nucleotide levels
and antitumor necrosis factor-alpha levels in patients with inflammatory
bowel disease receiving combination therapy: A retrospective multicenter
study, JOURNAL OF GASTROENTEROLOGY AND HEPATOLOGY. 37(), 135-136 </td>
</tr>
<tr class="even">
<td>Park, S. K., Wong, Z. Q., Park, S. H., Vu, K. V., Bang, K. B.,
Piyachaturawat, P., . . . Park, D. I. (2021). Extraintestinal
manifestation of inflammatory bowel disease in Asian patients: A
multinational study. Digestive and Liver Disease, 53(2), 196-201. doi:
10.1016/j.dld.2020.06.046 </td>
</tr>
<tr class="odd">
<td>Ran, Z. H., Wu, K. C., Matsuoka, K., Jeen, Y. T., Wei, S. C., Ahuja,
V., . . . Qian, J. M. (2021). Asian Organization for Crohn's and Colitis
and Asia Pacific Association of Gastroenterology practice
recommendations for medical management and monitoring of inflammatory
bowel disease in Asia. Journal of Gastroenterology and Hepatology,
36(3), 637-645. doi: 10.1111/jgh.15185 </td>
</tr>
<tr class="even">
<td>Kee, B. P., Ng, J. G., Ng, C. C., Hilmi, I., Goh, K. L., Chua, K. H.
(2020). Genetic polymorphisms of ATG16L1 and IRGM genes in Malaysian
patients with Crohns disease. Journal of Digestive Diseases, 21(1),
29-37. doi: 10.1111/1751-2980.12829 </td>
</tr>
<tr class="odd">
<td>Laube, R., Yau, Y. K., Selinger, C. P., Seow, C. H., Thomas, A.,
Chuah, S. W., . . . Leong, R. W. (2020). Knowledge and Attitudes Towards
Pregnancy in Females with Inflammatory Bowel Disease: An International,
Multi-centre Study. Journal of Crohns &amp; Colitis, 14(9), 1248-1255.
doi: 10.1093/ecco-jcc/jjaa047 </td>
</tr>
<tr class="even">
<td>Mak, J. W. Y., Tang, W., Yip, T. C. F., Ran, Z. H., Wei, S. C.,
Ahuja, V., . . . Ng, S. C. (2019). Stopping anti-tumour necrosis factor
therapy in patients with perianal Crohns disease. Alimentary
Pharmacology Therapeutics, 50(11-12), 1195-1203. doi:10.1111/apt.15547
</td>
</tr>
<tr class="odd">
<td>Ng, S. C., Kaplan, G. G., Tang, W., Banerjee, R., Adigopula, B.,
Underwood, F. E., . . . Sung, J. J. Y. (2019). Population Density and
Risk of Inflammatory Bowel Disease: A Prospective Population-Based Study
in 13 Countries or Regions in Asia-Pacific. American Journal of
Gastroenterology, 114(1), 107-115. doi:10.1038/s41395-018-0233-2 </td>
</tr>
<tr class="even">
<td>Ooi, C. J., Hilmi, I., Banerjee, R., Chuah, S. W., Ng, S. C., Wei,
S. C., . . . Asia Pacific Assoc Gastroenterol, A. (2019). Best practices
on immunomodulators and biologic agents for ulcerative colitis and
Crohns disease in Asia. Journal of Gastroenterology and Hepatology,
34(8), 1296-1315. doi:10.1111/jgh.14648</td>
</tr>
<tr class="odd">
<td>Siew, K. S. W., Tan, M. P., Hilmi, I. N., Loch, A. (2019). Swallow
syncope: a case report and review of literature. Bmc Cardiovascular
Disorders, 19(1), 12. doi:10.1186/s12872-019-1174-4</td>
</tr>
<tr class="even">
<td>Gwee, K. A., Lee, W. W. R., Ling, K. L., Ooi, C. J., Quak, S. H.,
Dan, Y. Y., . . . Wong, C. Y. (2018). Consensus and contentious
statements on the use of probiotics in clinical practice: A south east
Asian gastro-neuro motility association working team report. Journal of
Gastroenterology and Hepatology, 33(10), 1707-1716.
doi:10.1111/jgh.14268</td>
</tr>
<tr class="odd">
<td>Ng, S. C., Hilmi, I. N., Blake, A., Bhayat, F., Adsul, S., Khan, Q.
R., Wu, D. C. (2018). Low Frequency of Opportunistic Infections in
Patients Receiving Vedolizumab in Clinical Trials and Post-Marketing
Setting. Inflammatory Bowel Diseases, 24(11), 2431-2441.
doi:10.1093/ibd/izy153</td>
</tr>
<tr class="even">
<td>Park, D. I., Hisamatsu, T., Chen, M. H., Ng, S. C., Ooi, C. J., Wei,
S. C., . . . Yang, S. K. (2018). Asian Organization for Crohns and
Colitis and Asia Pacific Association of Gastroenterology consensus on
tuberculosis infection in patients with inflammatory bowel disease
receiving anti-tumor necrosis factor treatment. Part 2: Management.
Journal of Gastroenterology and Hepatology, 33(1), 30-36.
doi:10.1111/jgh.14018</td>
</tr>
<tr class="odd">
<td>Park, D. I., Hisamatsu, T., Chen, M. H., Ng, S. C., Ooi, C. J., Wei,
S. C., . . . Yang, S. K. (2018). Asian Organization for Crohns and
Colitis and Asian Pacific Association of Gastroenterology consensus on
tuberculosis infection in patients with inflammatory bowel disease
receiving anti-tumor necrosis factor treatment. Part 1: Risk assessment.
Journal of Gastroenterology and Hepatology, 33(1), 20-29.
doi:10.1111/jgh.14019</td>
</tr>
<tr class="even">
<td>Teoh, A. Y. B., Dhir, V., Kida, M., Yasuda, I., Jin, Z. D., Seo, D.
W., . . . Ho, L. K. Y. (2018). Consensus guidelines on the optimal
management in interventional EUS procedures: results from the Asian EUS
group RAND/UCLA expert panel. Gut, 67(7), 1209-1228.
doi:10.1136/gutjnl-2017-314341</td>
</tr>
<tr class="odd">
<td>Suman, S., Hussin, F. A., Malik, A. S., Ho, S. H., Hilmi, I., Leow,
A. H. R., Goh, K. L. (2017). Feature Selection and Classification of
Ulcerated Lesions Using Statistical Analysis for WCE Images. Applied
Sciences-Basel, 7(10). doi:10.3390/app7101097</td>
</tr>
<tr class="even">
<td>Chua, K. H., Ng, J. G., Ng, C. C., Hilmi, I., Goh, K. L., Kee, B. P.
(2016). Association of NOD1, CXCL16, STAT6 and TLR4 gene polymorphisms
with Malaysian patients with Crohns disease, Peerj. 4(17), Article</td>
</tr>
<tr class="odd">
<td>Ng, S. C., Zeng, Z. R., Niewiadomski, O., Tang, W., Bell, S., Kamm,
M. A., Hu, P., de Silva, H. J., Niriella, M. A., Udara, W., Ong, D.,
Ling, K. L., Ooi, C. J., Hilmi, I., Goh, K. L., Ouyang, Q., Wang, Y. F.,
Wu, K. C., Wang, X., Pisespongsa, P., Manatsathit, S., Aniwan, S.,
Limsrivilai, J., Gunawan, J., Simadibrata, M., Abdullah, M., Tsang, S.
W. C., Lo, F. H., Hui, A. J., Chow, C. M., et al. (2016). Early Course
of Inflammatory Bowel Disease in a Population-Based Inception Cohort
Study From 8 Countries in Asia and Australia, Gastroenterology.
150(186-+), Article</td>
</tr>
<tr class="even">
<td>Ooi, C. J., Makharia, G. K., Hilmi, I., Gibson, P. R., Fock, K. M.,
Ahuja, V., Ling, K. L., Lim, W. C., Thia, K. T., Wei, S. C., Leung, W.
K., Koh, P. K., Gearry, R. B., Goh, K. L., Ouyang, Q., Sollano, J.,
Manatsathit, S., de Silva, H. J., Rerknimitr, R., Pisespongsa, P., Abu
Hassan, M. R., Sung, J., Hibi, T., Boey, C. C. M., Moran, N., Leong, R.
W. L., Asia Pacific, A. (2016). Asia Pacific Consensus Statements on
Crohns disease. Part 1: Definition, diagnosis, and epidemiology (Asia
Pacific Crohns Disease Consensus-Part 1), Journal of Gastroenterology
and Hepatology. 31(145-55), Review</td>
</tr>
<tr class="odd">
<td>Ooi, C. J., Makharia, G. K., Hilmi, I., Gibson, P. R., Fock, K. M.,
Ahuja, V., Ling, K. L., Lim, W. C., Thia, K. T., Wei, S. C., Leung, W.
K., Koh, P. K., Gearry, R. B., Goh, K. L., Qin, O. Y., Sollano, J.,
Manatsathit, S., de Silva, H. J., Rerknimitr, R., Pisespongsa, P., Abu
Hassan, M. R., Sung, J., Hibi, T., Boey, C. C. M., Moran, N., Leong, R.
W. L., Asia Pacific Assoc, G. (2016). Asia-Pacific consensus statements
on Crohns disease. Part 2: Management, Journal of Gastroenterology and
Hepatology. 31(156-68), Review</td>
</tr>
<tr class="even">
<td>Hilmi, I., Jaya, F., Chua, A., Heng, W. C., Singh, H., Goh, K. L.
(2015). A First Study on the Incidence and Prevalence of IBD in
Malaysia-Results From the Kinta Valley IBD Epidemiology Study, Journal
of Crohns Colitis. 9(5), 404-409</td>
</tr>
<tr class="odd">
<td>Ng, S. C., Tang, W., Leong, R. W., Chen, M. H., Ko, Y. N., Studd,
C., Niewiadomski, O., Bell, S., Kamm, M. A., de Silva, H. J.,
Kasturiratne, A., Senanayake, Y. U., Ooi, C. J., Ling, K. L., Ong, D.,
Goh, K. L., Hilmi, I., Ouyang, Q., Wang, Y. F., Hu, P. J., Zhu, Z. H.,
Zeng, Z. R., Wu, K. C., Wang, X., Xia, B., Li, J., Pisespongsa, P.,
Manatsathit, S., Aniwan, S., Simadibrata, M., et al. (2015).
Environmental risk factors in inflammatory bowel disease: a
population-based case-control study in Asia-Pacific, Gut. 64(7),
1063-1071</td>
</tr>
<tr class="even">
<td>Sithambaram, S., Hilmi, I., Goh, K. L. (2015). The Diagnostic
Accuracy of the M2 Pyruvate Kinase Quick Stool Test-A Rapid Office Based
Assay Test for the Detection of Colorectal Cancer, Plos One. 10(79),
Article</td>
</tr>
<tr class="odd">
<td>Yoshinaga, S., Hilmi, I. N., Kwek, B. E. A., Hara, K., Goda, K.
(2015). Current status of endoscopic ultrasound for the upper
gastrointestinal tract in Asia, Digestive Endoscopy. 27(), 2-10</td>
</tr>
<tr class="even">
<td>Lau, T. P., Roslani, A. C., Lian, L. H., Chai, H. C., Lee, P. C.,
Hilmi, I., Goh, K. L., Chua, K. H. (2014). Pair-wise comparison analysis
of differential expression of mRNAs in early and advanced stage primary
colorectal adenocarcinomas, Bmj Open. 4(8), 11</td>
</tr>
<tr class="odd">
<td>Lau, T. P., Roslani, A. C., Lian, L. H., Lee, P. C., Hilmi, I., Goh,
K. L., Chua, K. H. (2014). Association between EGF and VEGF functional
polymorphisms and sporadic colorectal cancer in the Malaysian
population, Genetics and Molecular Research. 13(3), 5555-5561</td>
</tr>
<tr class="even">
<td>Lau, T. P., Roslani, A. C., Lian, L. H., Lee, P. C., Hilmi, I., Goh,
K. L., Chua, K. H. (2014). NOD2/CARD15 variants in Malaysian patients
with sporadic colorectal cancer, Genetics and Molecular Research. 13(3),
7079-7085</td>
</tr>
<tr class="odd">
<td>Hilmi, I., Hartono, J. L., Pailoor, J., Mahadeva, S., Goh, K. L.
(2013). Low prevalence of classical microscopic colitis but evidence of
microscopic inflammation in Asian Irritable Bowel Syndrome patients with
diarrhoea, Bmc Gastroenterology. 13(), 6</td>
</tr>
<tr class="even">
<td>Hilmi, I., Sunderesvaran, K., Ananda, V., Sarji, S. A., Arumugam,
K., Goh, K. L. (2013). Increased Fracture Risk and Osteoporosis Not
Associated With Vitamin D Levels in Malaysian Patients With Inflammatory
Bowel Disease, Journal of Clinical Endocrinology Metabolism. 98(6),
2415-2421</td>
</tr>
<tr class="odd">
<td>Ng, S. C., Tang, W., Ching, J. Y., Goh, K. L., Hilmi, I., et al.
(2013). Incidence and Phenotype of Inflammatory Bowel Disease Based on
Results From the Asia-Pacific Crohns and Colitis Epidemiology Study,
Gastroenterology. 145(1), 158-+</td>
</tr>
<tr class="even">
<td>Chua, K. H., Hilmi, I., Lian, L. H., Patmanathan, S. N., Hoe, S. Z.,
Lee, W. S., Goh, K. L. (2012). Association between inflammatory bowel
disease gene 5 (IBD5) and interleukin-23 receptor (IL23R) genetic
polymorphisms in Malaysian patients with Crohns disease, Journal of
Digestive Diseases. 13(9), 459-465</td>
</tr>
<tr class="odd">
<td>Chua, K. H., Ng, C. C., Hilmi, I., Goh, K. L. (2012). Co-inheritance
of variants/mutations in Malaysian patients with Crohns disease,
Genetics and Molecular Research. 11(3), 3115-3121</td>
</tr>
<tr class="even">
<td>Koo, J. H., Leong, R. W. L., Ching, J., Yeoh, K. G., Wu, D. C.,
Murdani, A., Cai, Q. C., Chiu, H. M., Chong, V. H., Rerknimitr, R., Goh,
K. L., Hilmi, I., Byeon, J. S., Niaz, S. K., Siddique, A., Wu, K. C.,
Matsuda, T., Makharia, G., Sollano, J., Lee, S. K., et al. (2012).
Knowledge of, attitudes toward, and barriers to participation of
colorectal cancer screening tests in the Asia-Pacific region: a
multicenter study, Gastrointestinal Endoscopy. 76(1), 126-135</td>
</tr>
<tr class="odd">
<td>Chua, K. H., Lian, L. H., Kee, B. P., Thum, C. M., Lee, W. S.,
Hilmi, I., Goh, K. L., et al. (2011). Identification of DLG5 and SLC22A5
gene polymorphisms in Malaysian patients with Crohns disease, Journal of
Digestive Diseases. 126(459-466), Article</td>
</tr>
<tr class="even">
<td>Hilmi, I., Hartono, J. L., Goh, K. L. (2010). Negative Perception in
Those at Highest Risk - Potential Challenges in Colorectal Cancer
Screening in an Urban Asian Population, Asian Pacific Journal of Cancer
Prevention. 11(3), 815-822</td>
</tr>
<tr class="odd">
<td>Loch, A., Hilmi, I. N., Mazam, Z., Pillay, Y., Choon, D. S. K.
(2010). Differences in attitude towards cadaveric organ donation:
observations in a multiracial Malaysian society, Hong Kong Journal of
Emergency Medicine. 17(3), 236-243</td>
</tr>
<tr class="even">
<td>Ooi, C. J., Fock, K. M., Makharia, G. K., Goh, K. L., Ling, K. L.,
Hilmi, I., et al. (2010). The Asia-Pacific consensus on ulcerative
colitis, Journal of Gastroenterology and Hepatology. 25(3), 453-468</td>
</tr>
<tr class="odd">
<td>Chua, K. H., Hilmi, I., Ng, C. C., Eng, T. L., Palaniappan, S., Lee,
W. S., Goh, K. L. (2009). Identification of NOD2/CARD15 mutations in
Malaysian patients with Crohn's disease, Journal of Digestive Diseases.
10(2), 124-130</td>
</tr>
<tr class="even">
<td>Hilmi, I., Singh, R., Ganesananthan, S., Yatim, I., Radzi, M., Chua,
A. B. S., Tan, H. J., Huang, S., Chin, K. S., Menon, J., Goh, K. L.
(2009). Demography and clinical course of ulcerative colitis in a
multiracial Asian population: A nationwide study from Malaysia, Journal
of Digestive Diseases. 10(1), 15-20</td>
</tr>
<tr class="odd">
<td>Schmidt, H. M. A., Goh, K. L., Fock, K. M., Hilmi, I., Dhamodaran,
S., Forman, D., Mitchell, H. (2009). Distinct cagA EPIYA Motifs are
Associated with Ethnic Diversity in Malaysia and Singapore,
Helicobacter. 14(4), 256-263</td>
</tr>
<tr class="even">
<td>Mahadeva, S., Khoo, B. L., Khoo, P. S., Malik, A., Hilmi, I., Qua,
C. S., Wong, C. H., Goh, K. L. (2008). Clinical impact and risk factors
for percutaneous gastrostomy wound infections due to resistant
organisms, International Journal of Infectious Diseases. 12(6),
E149-E150</td>
</tr>
<tr class="odd">
<td>Mahadeva, S., Malik, A., Hilmi, I., Qua, C. S., Wong, C. H., Goh, K.
L. (2008). Transnasal Endoscopic Placement of Nasoenteric Feeding Tubes:
Outcomes and Limitations in Non-Critically Ill Patients, Nutrition in
Clinical Practice. 23(2), 176-181</td>
</tr>
<tr class="even">
<td>Bhewa, Y., Hilmi, I., Cheah, P. L., Navaratnam, P., Goh, K. L.
(2007). Evaluation of the monoclonal stool antigen test for Helicobacter
pylori in an Asian population with dyspepsia, Journal of Digestive
Diseases. 8(4), 207-210</td>
</tr>
<tr class="odd">
<td>Malik, A., Cheah, P. L., Hilmi, I. N., Chan, S. P., Goh, K. L.
(2007). Non-alcoholic fatty liver disease in Malaysia: A demographic,
anthropometric, metabolic and histological study, Journal of Digestive
Diseases. 8(1), 58-64</td>
</tr>
<tr class="even">
<td>Hilmi, I., Tan, Y. M., Goh, K. L. (2006). Crohns disease in adults:
Observations in a multiracial Asian population, World Journal of
Gastroenterology. 12(9), 1435-1438</td>
</tr>
<tr class="odd">
<td>Leung, W. K., Ho, K. Y., Kim, W. H., Lau, J. Y. W., Ong, E., Hilmi,
I., et al. (2006). Colorectal neoplasia in Asia: a multicenter
colonoscopy survey in symptomatic patients, Gastrointestinal Endoscopy.
64(5), 751-759</td>
</tr>
<tr class="even">
<td>Goh, K. L., Quek, K. F., Yeo, G. T. S., Hilmi, I. N., Lee, C. K.,
Hasnida, N., et al. (2005). Colorectal cancer in Asians: a demographic
and anatomic survey in Malaysian patients undergoing colonoscopy,
Alimentary Pharmacology Therapeutics. 22(9), 859-864</td>
</tr>
<tr class="odd">
<td></td>
</tr>
</tbody>
</table>




{% endrenderTemplate %}
</article>
