---
layout: "dermtriplecolumn"

hod:
  name: "Assoc. Prof. Dr. Kwan Zhenli"
  image: image33.png

title: Dermatology

unit: Dermatology

unitnews: dermnews
---
{% from 'partials/portrait.njk' import portrait %}

<article class="prose lg:prose-md">
  {{ portrait(hod, hodimage) }}

  {% renderTemplate "md, njk",
  hod %}
The Division of Dermatology of the University Malaya Medical Centre (UMMC)
provides services to cater for patients suffering from skin disorders. This includes
skin consultations and procedures given to ward inpatients and outpatients. The
Division is also active in the area of Dermatology research and dedicates itself to
impart Dermatology knowledge to the undergraduate and postgraduate students in
the faculty.

## Services 

- General Dermatology
- Cryotherapy
- Intralesional injections
- Application of trichloroacetic acid
- Application of podophyllin
- Patch tests
- Phototherapy
- Laser services
  - Picosecond laser
  - Carbon dioxide laser
- Dermatological surgery
  - Skin biopsy
  - Curettage and cautery
  - Mohs micrographic surgery
  - Nail biopsy


{% endrenderTemplate %}
</article>