---
layout: "dermtriplecolumn"

title: Dermatology

unit: Dermatology

unitnews: dermnews
navitems:
    - label:  Introduction
      url:   /units/dermatology
    - label:  Team
      url:   /units/dermatology/team
    - label:  Publications
      url:   /units/dermatology/publications
    - label:  Research
      url:   /units/dermatology/research
    - label:  Services
      url:   index.html#services


linkitems:



services:
    - General Dermatology
    - Cryotherapy
    - Intralesional injections
    - Application of trichloroacetic acid
    - Application of podophyllin
    - Patch tests
    - Phototherapy
    - Laser services
    - Picosecond laser
    - Carbon dioxide laser
    - Dermatological surgery
    - Skin biopsy
    - Curettage and cautery
    - Mohs micrographic surgery
    - Nail biopsy

titleimage: "/static/img/units/dermmicro.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
<figure class="hidden md:inline float-right ml-6">
  <img alt="HOD" class=" m-0 p-0  w-48 max-auto " src="/static/img/portraits/image33.png"/>
            <figcaption class=" px-4 py-4 text-center text-sm font-base"><p>Assoc. Prof. Dr. Kwan Zhenli<p><p>Head of Unit</p></figcaption>
  </figure>
The Division of Dermatology of the University Malaya Medical Centre (UMMC)
provides services to cater for patients suffering from skin disorders. This includes
skin consultations and procedures given to ward inpatients and outpatients. The
Division is also active in the area of Dermatology research and dedicates itself to
impart Dermatology knowledge to the undergraduate and postgraduate students in
the faculty.


{% endrenderTemplate %}
</article>




