---
layout: "sidebar"

title: Dermatology

unit: Dermatology

navitems:
    - label:  Introduction
      url:   /units/dermatology
    - label:  Team
      url:   /units/dermatology/team
    - label:  Publications
      url:   /units/dermatology/publications
    - label:  Research
      url:   /units/dermatology/research

linkitems:


titleimage: "/static/img/units/dermmicro.jpg"
---



<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Publications

<table>
<tbody>
<tr class="odd">
<td>Goh, Y., Kwan, Z., Han, W. H., Iqbal, T., Yahya, F., Khang, T. F.,
&amp; Singh, S. (2021). Ocular surface disease in psoriatic patients in
a developing country. International Ophthalmology, 41(6), 2139-2147.
doi: 10.1007/s10792-021-01771-8</td>
</tr>
<tr class="even">
<td>Han, W. H., Yong, J. Y., Yong, S. S., Faheem, N. A. A., Toh, Y. F.,
Chew, M. F., . . . Azwa, I. (2021). Cutaneous manifestations of patients
with Human Immunodeficiency Virus (HIV) Infection: A retrospective
review of a tertiary referral centre with clinicopathological
correlation. Australasian Journal of Dermatology, 62(3), 286-291. doi:
10.1111/ajd.13580</td>
</tr>
<tr class="odd">
<td>Yap, W. H., Cheah, T. Y., Yong, L. C., Chowdhury, S. R., Ng, M. H.,
Kwan, Z., . . . Goh, B. H. (2021). Fibroblast-derived matrices-based
human skin equivalent as an in vitro psoriatic model for drug testing.
Journal of Biosciences, 46(3), 13. doi: 10.1007/s12038-021-00205-y</td>
</tr>
<tr class="even">
<td>Kwan, Z., Najhan, N. N. K., Yau, Y. H., Luximon, Y., &amp; Nor, F.
M. (2020). Anticipating local flapsclosed-formsolution on3Dface models
using finite element method. International Journal for Numerical Methods
in Biomedical Engineering, 36(11), 16. doi: 10.1002/cnm.3390</td>
</tr>
<tr class="odd">
<td>Yong, S. S., Kwan, Z., Ch'ng, C. C., Yong, A. S. W., Tan, L. L.,
Han, W. H., . . . Tan, M. P. (2020). Self-reported generalised pruritus
among community-dwelling older adults in Malaysia. Bmc Geriatrics,
20(1), 7. doi: 10.1186/s12877-020-01610-y</td>
</tr>
<tr class="even">
<td>Yong, S. S., Tan, L. L., Chng, C. C., Yahya, F., Pok, S. L., Chng,
P. Y., . . . Kwan, Z. (2020). Personal experience and knowledge about
psoriasis reduce misconceptions and discriminatory behavior toward
people living with psoriasis in Malaysia. Dermatologica Sinica, 38(1),
35-38. doi: 10.4103/ds.ds_27_19</td>
</tr>
<tr class="odd">
<td>Faheem, N. A. A., Kwan, Z., Yong, A. S. W., Chng, C. C., Tan, K. K.,
Naicker, M., Tan, L. L. (2019). Syringocystadenoma papilliferum arising
in a naevus sebaceus. Malaysian Journal of Pathology, 41(1), 47-49.
</td>
</tr>
<tr class="even">
<td>Han, W. H., Yong, S. S., Tan, L. L., Toh, Y. F., Chew, M. F.,
Pailoor, J., Kwan, Z. (2019). Characteristics of skin cancers among
adult patients in an urban Malaysian population. Australasian Journal of
Dermatology, 60(4), E327-E329. doi:10.1111/ajd.13106</td>
</tr>
<tr class="odd">
<td>Robinson, S., Kwan, Z., Tang, M. M. (2019). Metformin as an adjunct
therapy for the treatment of moderate to severe acne vulgaris: A
randomized open-labeled study. Dermatologic Therapy, 32(4), 7.
doi:10.1111/dth.12953</td>
</tr>
</tbody>
</table>



{% endrenderTemplate %}
</article>