---
layout: "sidebar"

title: Dermatology

unit: Dermatology

navitems:
    - label:  Introduction
      url:   /units/dermatology
    - label:  Team
      url:   /units/dermatology/team
    - label:  Publications
      url:   /units/dermatology/publications
    - label:  Research
      url:   /units/dermatology/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---



<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Publications

(insert publications here)



{% endrenderTemplate %}
</article>