---
layout: "sidebar"

title: Dermatology

unit: Dermatology


---



<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Publications
<table>
<tbody>
<tr class="odd">
<td>Han WH, Yong SS, Tan LL, Toh YF, Chew MF, Pailoor J, Kwan Z.
Characteristics of skin cancers among adult patients in an urban
Malaysian population. Australas J Dermatol 2019; 60(4):e327-9. doi:
10.1111/ajd.13106.</td>
</tr>
<tr class="even">
<td>Kwan Z, Yong SS, Robinson S. Analysis of Internet searches using
Google Trends to measure interest in sun protection and skin cancer in
selected South-East Asian populations. Photodermatol Photoimmunol
Photomed 2020; 36(2):83-9. doi:10.1111/phpp.12510.</td>
</tr>
<tr class="odd">
<td>Kwan Z, Khairu Najhan NN, Yau YH, Luximon Y, Nor FM. Anticipating
Local Flaps Closed-Form Solution on 3D Face Models Using Finite Element
Method [published online ahead of print, 2020 Jul 31]. Int J Numer
Method Biomed Eng 2020;e3390. doi:10.1002/cnm.3390.</td>
</tr>
<tr class="even">
<td>Yong SS, Han WH, Faheem NAA, Puvan N, Tan LL, Wong SM, Kwan Z.
Predictive factors of sun protective behaviour among global airline
pilots. Photodermatol Photoimmunol Photomed 2022 Mar 24.
doi:10.1111/phpp.12787. Epub ahead of print.</td>
</tr>
<tr class="odd">
<td>Kwan Z, Anand RL, Mallipeddi R, Ali FR. The utility of negative
histopathological analysis of debulk specimens during Mohs micrographic
surgery for basal cell carcinoma. Br J Dermatol 2022 Apr 20.
doi:10.1111/bjd.21613. Epub ahead of print.</td>
</tr>
<tr class="even">
<td>Kwan Z, Balachandran P, Daruish M, Stefanato CM, Kiely C. Dermal
Cystine Crystals: An Incidental Finding During Mohs Surgery. Am J
Dermatopathol 2022 July 6. doi: 10.1097/DAD.0000000000002244. Epub ahead
of print.</td>
</tr>
<tr class="odd">
<td>Kwan Z, Che Ismail RB, Wong SM, Tan LL, Robinson S, Lim KS. Sodium
valproate-aggravated psoriasisform eruption. Int J Dermatol 2014;
53(10):e477-9. doi: 10.1111/ijd.12579. Epub 2014 Sep 10.</td>
</tr>
<tr class="even">
<td>Kwan Z, Bong YB, Tan LL, et al. Socioeconomic and sociocultural
determinants of psychological distress and quality of life among
patients with psoriasis in a selected multi-ethnic Malaysian population.
Psychol Health Med 2017;22(2):184-195.</td>
</tr>
<tr class="odd">
<td>Kwan Z, Bong YB, Tan LL, et al. Determinants of quality of life and
psychological status in adults with psoriasis. Arch Dermatol Res 2018;
310(5):443-51.</td>
</tr>
<tr class="even">
<td>Yong SS, Tan LL, Ch’ng CC, Yahya F, Pok SL, Ch’ng PY, Ong WM, Siew
KSW, Aminuddin I, Ong LS, Lee AYS, Iskandar Zulkarnain LY, Mohd Hanafiah
NH, Mustafa Rawther DS, Chong JJ, Saw LS, Tan MP, Kwan Z. Personal
experience and knowledge about psoriasis reduce misconceptions and
discriminatory behavior toward people living with psoriasis in Malaysia.
Dermatol Sinica 2020; 38(1): 35-38.</td>
</tr>
<tr class="odd">
<td>Kwan Z, Baharum N, Yong SS, Mohd Affandi A, Johar A. Sexual
difficulties and associated factors among patients with psoriasis in
Malaysia: data from the Malaysian Psoriasis registry. Psychol Health Med
[journal on the Internet]. 2020 Oct 12 [cited 2020 Oct 14]. doi:
10.1080/13548506.2020.1831557 [Epub ahead of print]</td>
</tr>
<tr class="even">
<td>Goh Y, Kwan Z, Han WH, Iqbal T, Yahya F, Khang TF, Singh S. Ocular
surface disease in psoriatic patients in a developing country. Int
Ophthalmol 2021; 41(6):2139-2147. doi: 10.1007/s10792-021-01771-8. </td>
</tr>
<tr class="odd">
<td>Yap WH, Cheah TY, Yong LC, Chowdhury SR, Ng MH, Kwan Z, Kong CK, Goh
BH. Fibroblast-derived matrices-based human skin equivalent as an in
vitro psoriatic model for drug testing. J Biosci 2021; 46:86.</td>
</tr>
<tr class="even">
<td>Khor AHP, Lim KS, Tan CT, Kwan Z, Ng CC. Cross-reactivity in
AED-induced severe cutaneous adverse reaction: A case report. J Investig
Allergol Clin Immunol 2016;26(5):329-31. doi:10.18176/jiaci.0085.</td>
</tr>
<tr class="odd">
<td>Khor AH, Lim KS, Tan CT, Kwan Z, Tan WC, Wu DBC, Ng CC. HLA-A*31: 01
and HLA-B*15:02 association with Stevens-Johnson syndrome and toxic
epidermal necrolysis to carbamazepine in a multiethnic Malaysian
population. Pharmacogenet Genomics 2017;27(7):275-8. </td>
</tr>
<tr class="even">
<td>Kwan Z, Pailoor J, Tan LL, Robinson S, Wong SM, Ismail R. Leprosy –
An imported disease. Lepr Rev 2014;85:170-6.</td>
</tr>
<tr class="odd">
<td>Kuan CS, Ismail R, Kwan Z, et al. Isolation and Characterization of
an atypical Metschnikowia sp. Strain from the Skin Scraping of a
Dermatitis Patient. PLoS One
2016;11(6):e0156119.doi:10.1371/journal.pone.0156119. eCollection 2016.
</td>
</tr>
<tr class="even">
<td>Han WH, Yong JY, Yong SS, Faheem NAA, Toh YF, Chew MF, Z Kwan, Azwa
I. Cutaneous manifestations of patients with Human Immunodeficiency
Virus (HIV) infection: a retrospective review of a tertiary referral
centre with clinicopathological correlation. Australas J Dermatol 2021;
62(3):286-291. doi:10.1111/ajd.13580.</td>
</tr>
<tr class="odd">
<td>Er YX, Lee SC, Than LTL, Muslim A, Leong KF, Kwan Z, Mohd Sayed I,
Lim YAL. Tinea Imbricata among the Indigenous Communities: Current
Global Epidemiology and Research Gaps Associated with Host Genetics and
Skin Microbiota. J Fungi (Basel) 2022;8(2):202.
doi:10.3390/jof8020202.</td>
</tr>
<tr class="even">
<td>Kwan Z, Wong SM, Robinson S, Tan LL, Looi LM, Ismail R. Blue legs in
a 60-year-old gentleman. Ann Acad Med Singapore 2015;44(12):577-9.</td>
</tr>
<tr class="odd">
<td>Kwan Z, Wong SM, Robinson S, Tan LL, Ismail R. Pattern of skin
diseases among patients attending an outpatient Dermatology clinic in a
tertiary hospital in urban Malaysia. Australas J Dermatol
2017;54(4):e267-e268. doi:10.1111/ajd.12541</td>
</tr>
<tr class="even">
<td>Faheem NAA, Kwan Z, Yong ASW, et al. Syringocystadenoma papilliferum
arising in a naevus sebaceous. Malays J Pathol 2019; 41(1):47-9.</td>
</tr>
<tr class="odd">
<td>Robinson S, Kwan Z, Tang MM. Metformin as an adjunct therapy for the
treatment of moderate to severe acne vulgaris: a randomized
open-labelled study. Dermatol Ther 2019 May 1:e12953. doi:
10.1111/dth.12953 </td>
</tr>
<tr class="even">
<td>Yong SS, Kwan Z, Ch’ng CC, et al. Self-reported generalized pruritus
among community-dwelling older adults in Malaysia. BMC Geriatr 2020;
20(1): 223.</td>
</tr>
<tr class="odd">
<td>Yong SS, Robinson S, Kwan Z, et al. Psychological well-being,
quality of life and patient satisfaction among adults with chronic
spontaneous urticaria in a multi-ethnic Asian population. Psychol Health
Med 2022 Jan 20;1-12. doi: 10.1080/13548506.2022.2029914.</td>
</tr>
</tbody>
</table>




{% endrenderTemplate %}
</article>