---
layout: "sidebar"


title: Dermatology

unit: Dermatology

navitems:
    - label:  Introduction
      url:   /units/dermatology
    - label:  Team
      url:   /units/dermatology/team
    - label:  Publications
      url:   /units/dermatology/publications
    - label:  Research
      url:   /units/dermatology/research

linkitems:


titleimage: "/static/img/units/derm.jpeg"
---


<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Research
The Division of Dermatology is active in research in the field of Dermatology and
we are open to participation in national and international trials. We also supervise
undergraduate and postgraduate students who are interested in pursuing projects
related to our field. Our researchers have presented award-winning papers at
national and international conferences, produced publications in various
dermatological journals and are acting as current peer reviewers within the field.

## Research Opportunities

Qualified individuals who would like to be involved in various research
opportunities at the Division of Dermatology are welcome to apply for suitable
positions by contacting us via email at umdermatology@gmail.com. We also
welcome undergraduate medical students who would like to pursue elective
postings in Dermatology at our hospital. Applications can be made through the
UMMC website.

## Active clinical trials

### National

<table>
<tbody>
<tr class="odd">
<td></td>
</tr>
<tr class="even">
<td>Vitamin D receptor gene polymorphisms and serum vitamin D level in
hypopigmented mycosis fungoides: A case-control study in Malaysian
patients </td>
</tr>
<tr class="odd">
<td>Clinical course and histopathology findings in cutaneous
graft-versus-host disease (GVHD): A case series of adult patients
undergoing hematopoeitic stem cell transplantation </td>
</tr>
<tr class="even">
<td>Development of a prototype of a server-based smartphone simulator
application for flaps in dermatologic surgery </td>
</tr>
<tr class="odd">
<td>(CQuality of Life, psychology burden, and treatment selection of
patients with chronic urticaria in Klang Valley, Malaysia</td>
</tr>
<tr class="even">
<td>Cutaneous acute graft versus host disease (aGVHD) and related
dermoscopic changes in patients with skin of colour.</td>
</tr>
<tr class="odd">
<td>Retrospective review of histopathological features of cutaneous
manifestations of HIV patients in University of Malaya Medical Centre
2016 2018 </td>
</tr>
<tr class="even">
<td>Clinical course and histopathology findings in cutaneous
graft-versus-host disease (GVHD): A case series of adult patients
undergoing hematopoeitic stem cell transplantation </td>
</tr>
<tr class="odd">
<td>HLA-B*58:01 allele testing in primary care to prevent
allopurinol-induced severe cutaneous adverse reaction </td>
</tr>
<tr class="even">
<td>Retrospective review of skin cancers in UMMC from year 2015 to
2018</td>
</tr>
<tr class="odd">
<td>Development and characterization of human fibroblast-derived
matrices-based human skin equivalent as a novel in-vitro psoriatic model
for drug testing</td>
</tr>
</tbody>
</table>

## International

<table>
<tbody>
<tr class="odd">
<td>A Phase 3b Multicenter, Randomized, Double-Blind, Double-Dummy,
Active Controlled Study Comparing the Safety and Efficacy of
Upadacitinib to Dupilumab in Adult Subjects with Moderate to Severe
Atopic Dermatitis </td>
</tr>
<tr class="even">
<td>A Phase 3, Randomized, Double-Blind, Study Comparing Risankizumab to
Placebo in Subjects with Active Psoriatic Arthritis (PsA) Who Have a
History of Inadequate Response to or Intolerance to at Least One Disease
Modifying Anti-Rheumatic Drug (DMARD) Therapy (KEEPsAKE 1) </td>
</tr>
<tr class="odd">
<td>A Phase 3b, open-label treatment extension study of upadacitinib for
the treatment of adult subjects with moderate to severe atopic
dermatitis who completed treatment in study M16-046. </td>
</tr>
<tr class="even">
<td>Protocol no. M16-011: Phase 3 randomised double-blind study
comparing Risankizumab to placebo in active Psoriatic Arthritis patients
with a history of inadequate response to at least one DMARD therapy,
Independent Assessor, 2019 - 2022, Private Funding, (International)</td>
</tr>
<tr class="odd">
<td>A Phase 3b, open-label treatment extension study of upadacitinib for
the treatment of adult subjects with moderate to severe atopic
dermatitis who completed treatment in Study M16-046</td>
</tr>
<tr class="even">
<td>Predictive factors of sun protection behaviour in global airline
pilots </td>
</tr>
</tbody>
</table>


{% endrenderTemplate %}
</article>