---
layout: "triplecolumn"

title: Haematology

unit: Haematology

navitems:
    - label:  Introduction
      url:   /units/haematology
    - label:  Team
      url:   /units/haematology/team
    - label:  Publications
      url:   /units/haematology/publications
    - label:  Research
      url:   /units/haematology/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Haematology Unit
<figure class="hidden md:inline float-right ml-6">
  <img alt="HOD" class=" m-0 p-0  w-48 max-auto " src="/static/img/portraits/image38.png"/>
            <figcaption class=" px-4 py-4 text-center text-sm font-base"><p>Prof. Dr. Bee Ping Chong<p><p>Head of Unit</p></figcaption>
  </figure>
The haematology unit is one of the subspecialized units within the Department of Medicine. 
It provides various services, training, and research in the field of haematology.

{% endrenderTemplate %}
</article>
