---
layout: "triplecolumn"

title: Nephrology

unit: Nephrology

hod: Assoc. Prof. Dr. Lim Soo Kun
hodimage: image26.png

navitems:
    - label:  Introduction
      url:   /units/nephrology
    - label:  Team
      url:   /units/nephrology/team
    - label:  Publications
      url:   /units/nephrology/publications
    - label:  Research
      url:   /units/nephrology/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Nephrology Unit
<figure class="hidden md:inline float-right">
  <img alt="HOD" class=" m-0 p-0  w-48 max-auto " src="/static/img/portraits/image26.png"/>
            <figcaption class=" px-4 py-4 text-center text-sm font-base"><p>Assoc. Prof. Dr. Lim Soo Kun<p><p>Head of Unit</p></figcaption>
  </figure>
The nephrology unit is one of the subspecialized units within the Department of Medicine. 
It provides various services, training, and research in the field of nephrology.

{% endrenderTemplate %}
</article>



