---
layout: "sidebar"


title: Nephrology

unit: Nephrology

navitems:
    - label:  Introduction
      url:   /units/nephrology
    - label:  Team
      url:   /units/nephrology/team
    - label:  Publications
      url:   /units/nephrology/publications
    - label:  Research
      url:   /units/nephrology/research


linkitems:


titleimage: "/static/img/units/id.jpg"
---


<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Active clinical trials

(insert list here)


{% endrenderTemplate %}
</article>