---
layout: "triplecolumn"

title: Infectious Disease Team

unit: Infectious Disease

navitems:
    - label:  Overview
      url:   /units/infectiousdisease
    - label:  Team
      url:   /units/infectiousdisease/team
    - label:  Publications
      url:   /units/infectiousdisease/publications
    - label:  Research
      url:   /units/infectiousdisease/research

linkitems:
    - label:  Some relevant links here
      url:   /units/infectiousdisease
    - label:  UMMC Antibiotic guideline
      url:   /units/infectiousdisease/team

titleimage: "/static/img/units/id.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Infectious Disease Unit
<figure class="relative float-right">
  <img alt="HOD" class="hidden md:inline m-4 h-56 w-48 sm:mb-0" src="/static/img/portraits/image32.png"/>
            <figcaption class=" hidden md:inline px-4 py-4 text-center text-sm font-base"><p>Assoc. Prof. Dr. Sharifah Faridah<p><p>Head of Unit</p></figcaption>
  </figure>

The Infectious Diseases Unit at the University of Malaya Medical Centre provides care for patients with infections ranging from complicated infections and tropical infections to undifferentiated fever, people living with HIV, and key affected populations. 
We also have an antimicrobial stewardship team that works together closely with our pharmacists and microbiologists to help ensure the appropriate use of antibiotics within the hospital. The team believes in practicing evidence-based medicine and is active 
in research covering dengue infections, multidrug-resistant bacteria, antimicrobial resistance, pharmacokinetics and pharmacodynamics of antibiotics, Tuberculosis, COVID-19, and HIV (prevention, aging, mental health, women’s health, and stigma). 

{% endrenderTemplate %}
</article>