---
layout: "sidebar"

title: Infectious Disease Publications

unit: Infectious Disease

navitems:
    - label:  Introduction
      url:   /units/infectiousdisease
    - label:  Team
      url:   /units/infectiousdisease/team
    - label:  Publications
      url:   /units/infectiousdisease/publications
    - label:  Research
      url:   /units/infectiousdisease/research




titleimage: "/static/img/units/id.jpg"
---


<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Publications

## 2022

<table>
<tbody>
<tr class="odd">
<td>Chan, Chee Ken, et al. "Development and validation of the knowledge,
attitude and practice questionnaire (LAUNDERKAP) regarding white coat
use among medical students during clinical practice." American Journal
of Infection Control (2022).</td>
</tr>
<tr class="even">
<td>Lam, Thian Yin, et al. "Response to the letter to the editor:
“Wearing a white coat in theory class during medical school, is it
justified?”." American Journal of Infection Control (2022).</td>
</tr>
<tr class="odd">
<td>Sulaiman, Helmi, Jason A. Roberts, and Mohd H. Abdul-Aziz.
"Pharmacokinetics and pharmacodynamics of beta-lactam antibiotics in
critically ill patients." Farmacia Hospitalaria 46.3 (2022):
182-190.</td>
</tr>
<tr class="even">
<td>Knowledge, attitude, and practice of white coat use among Malaysia’s
medical students during clinical practice (LAUNDERKAP): a
cross-sectional study. Presented at ECCMID 2022.</td>
</tr>
<tr class="odd">
<td>“Pharmacokinetics of Polymyxin B and the
Pharmacokinetic/pharmacodynamic target attainment in Hospitalised Adult
Patients with Multidrug-resistant Gram-negative Infections”. Presented
at ECCMID 2022.</td>
</tr>
<tr class="even">
<td>“Pharmacokinetics of Polymyxin B and the
Pharmacokinetic/pharmacodynamic target attainment in Hospitalised Adult
Patients with Multidrug-resistant Gram-negative Infections.” Presented
at ICC 2022.</td>
</tr>
<tr class="odd">
<td>“Investigation of the effectiveness of air purifiers in reducing the
dispersion of the SARS-CoV-2 virus in hospital wards in University of
Malaya Medical Centre, Malaysia. “ Presented at ECCMID 2022</td>
</tr>
<tr class="even">
<td><p>A. Kukreja, A. Salleh, YS. Ong, R. Rajasuriar. Gaps in physical
and mental health care of women living with HIV (WLWH) in a tertiary
care hospital. Asia Pacific AIDS and Co-Infections Conference (APACC)
2022.</p></td>
</tr>
<tr class="odd">
<td><p>A. Kukreja<strong>,</strong> R. Rajasuriar , A. Kamarulzaman ,
S.F. Syed Omar , I. Azwa , A. Salleh , YS. Ong , I.H. Teo , Y.
Gunasagran , Y.L. Woo: Knowledge on HPV infection, Cervical Cancer and
HIV amongst Infectious Diseases and Obstetrics &amp; Gynaecology
Healthcare Providers units in a Malaysian Tertiary Teaching Hospital.
Asia Pacific AIDS and Co-Infections Conference (APACC) 2022.</p></td>
</tr>
<tr class="even">
<td><p>Chong Meng Li, Hanis Suraiya Roslan, Malinee Neelamegam, Anjanna
Kukreja, Sharifah Faridah Omar, Lee Hong Gee, Lee Yew Kong, Reena
Rajasuriar: A cross-sectional study on the preference of mental health
screening modalities among people living with HIV at a tertiary care
hospital in Malaysia.<strong> </strong>Asia Pacific AIDS and
Co-Infections Conference (APACC) 2022.</p></td>
</tr>
<tr class="odd">
<td><p>Preliminary findings from a pre-implementation study on
integrating screening for HIV-associated Neurocognitive Disorders (HAND)
into routine care in Malaysia. Asia Pacific AIDS and Co-Infections
Conference (APACC) 2022.</p></td>
</tr>
<tr class="even">
<td>Facilitators and barriers to the integration of depression and
substance use screening and linkage to care among people living with HIV
in a tertiary-care hospital in Malaysia: A qualitative study.
Asia-Pacific AIDS &amp; Co-Infections Conference (APACC)</td>
</tr>
<tr class="odd">
<td><p>Retrospective review of Staphylococcus aureus bacteraemia (SAB)
in patients infected with COVID-19 admitted to a tertiary hospital.
Presented at ECCMID 2022.</p></td>
</tr>
<tr class="even">
<td><p>Risk factors of COVID-19 transmission among inpatients in
tertiary teaching hospital. Presented at ECCMID 2022.</p></td>
</tr>
</tbody>
</table>

## 2021

<table>
<tbody>
<tr class="odd">
<td>Rajaram, Ruveena, et al. "COVID-19 and liver dysfunction:
Preliminary data from a single centre in Malaysia." Journal of
Gastroenterology and Hepatology. Vol. 36. 111 RIVER ST, HOBOKEN
07030-5774, NJ USA: WILEY, 2021.</td>
</tr>
<tr class="even">
<td>Lee, Yu Jie, et al. "Factors affecting in-hospital mortality and
outcome study on healthcare-associated meningitis and/or ventriculitis
(HCAMV): University of Malaya Medical Centre experience." Neurology Asia
26.2 (2021).</td>
</tr>
<tr class="odd">
<td>Reduced Vancomycin Exposure Following A Switch From Trough To Area
Under The Curve (AUC)-Based Therapeutic Drug Monitoring (TDM). Presented
at ECCMID 2021.</td>
</tr>
<tr class="even">
<td>Prevalence of Acute Kidney Injury Among Coronavirus Disease 2019
(COVID-19) Patients: A Single Tertiary Centre Experience. Presented at
36th Annual Congress of MSN 2021</td>
</tr>
<tr class="odd">
<td><p>Roslan, N. S., Yusoff, M., Ab Razak, A., Morgan, K., Ahmad
Shauki, N. I., <strong>Kukreja, A</strong>., Rahmat, N., Andrew, C.,
Shaharudin Basri, M. F., Abd Mokti, A. S., Md Yazid, N. H., Ismail, M.,
&amp; Bakit, P. (2021). Training Characteristics, Personal Factors and
Coping Strategies Associated with Burnout in Junior Doctors: A
Multi-Center Study. <em>Healthcare (Basel, Switzerland)</em>,
<em>9</em>(9), 1208.<a href="https://doi.org/10.3390/healthcare9091208">
<em>https://doi.org/10.3390/healthcare9091208</em></a></p></td>
</tr>
<tr class="even">
<td>M Neelamegam, A Ahmad, ML Chong, PL Wong, <strong>A Kukreja,
</strong>SF Syed Omar, A. Kamarulzaman, SB Kamaruzzaman, R Rajasuriar:
Psychosocial Risk Factors and Cognitive Decline in People Living with
HIV: Results from the Malaysian HIV and Aging (MHIVA) Study. Asia
Pacific AIDS and Co-Infections Conference (APACC)</td>
</tr>
<tr class="odd">
<td><p>ML Chong. Factors associated with mental health screening
preferences among people living with HIV receiving care at a tertiary
care hospital in Malaysia, Asia-Pacific AIDS &amp; Co-Infections
Conference (Virtual), Virology Education.</p></td>
</tr>
<tr class="even">
<td><p>Chong, S. C. S., Kamarulzaman, A., Azwa, I., Ng, R. X., Chong, M.
L., Raman, N., &amp;amp; Bourne, A. (2021). Delayed HIV testing and
treatment seeking, and associated support needs among people living with
HIV in Malaysia: a qualitative study. Sexual Health, 18(2), 147–155.
</p></td>
</tr>
<tr class="odd">
<td><p>Ong, H. C., Ling, A. C. K., Ng, D. S. W., Ng, R. X., Wong, P. L.,
&amp;amp; Omar, S. F. S. (2021). Case report: Actinomyces naeslundii
complicating preterm labour in a trisomy-21 pregnancy. IDCases, 23,
e01051.</p></td>
</tr>
<tr class="even">
<td>Han, W. H., Yong, J. Y., Yong, S. S., Faheem, N. A. A., Toh, Y. F.,
Chew, M. F., . . . Azwa, I. (2021). Cutaneous manifestations of patients
with Human Immunodeficiency Virus (HIV) Infection: A retrospective
review of a tertiary referral centre with clinicopathological
correlation. Australasian Journal of Dermatology, 62(3), 286-291. doi:
10.1111/ajd.13580</td>
</tr>
</tbody>
</table>

## 2020

<table>
<tbody>
<tr class="odd">
<td>De Bus, Liesbet, et al. "Antimicrobial de-escalation in the
critically ill patient and assessment of clinical cure: the DIANA
study." Intensive care medicine 46.7 (2020): 1404-1417.</td>
</tr>
<tr class="even">
<td>Sulaiman, H., et al. "Knowledge and practice survey of clinicians on
the management of ventilator-associated pneumonia (VAP) in Malaysia."
International Journal of Infectious Diseases 101 (2020): 96.</td>
</tr>
<tr class="odd">
<td>Rozali, Muhammad Azrai, et al. "Knowledge, perception, and
antibiotic prescribing practice in the intensive care unit: Findings
from the Malaysian public setting." Journal of Pharmacy &amp; Bio-allied
Sciences 12.Suppl 2 (2020): S804.</td>
</tr>
<tr class="even">
<td>Rozali, Muhammad Azrai, et al. "ID 4. Antibiotic Prescribing in an
Intensive Care Unit: Findings from a Public Malaysian Setting." Journal
of Pharmacy &amp; Bioallied Sciences 12 (2020).</td>
</tr>
<tr class="odd">
<td>Abdul-Aziz, M., et al. "The DECISIVE study: defining beta-lactam
concentration in intensive care unit patients–the pharmacokinetics of
piperacillin and meropenem in critically ill patients with conserved
renal function." Journal of Infection and Public Health 13.2 (2020):
353-354.</td>
</tr>
<tr class="even">
<td>Meng Li, C., Jie Ying, F., Raj, D., Pui Li, W., Kukreja, A., Omar,
S. F. S., Kamarulzaman, A. and Rajasuriar, R. A retrospective analysis
of the care cascades for non‐communicable disease and mental health
among people living with HIV at a tertiary‐care centre in Malaysia:
opportunities to identify gaps and optimize care. <em>J Int AIDS
Soc</em>. 2020; 23(11):e25638 </td>
</tr>
<tr class="odd">
<td>Chia, P., Sengupta, S., Kukreja, A. <em>et al.</em> The role of
hospital environment in transmissions of multidrug-resistant
gram-negative organisms. <em>Antimicrob Resist Infect Control</em>
9<strong>, </strong>29 (2020).<a
href="https://doi.org/10.1186/s13756-020-0685-1">
<em>https://doi.org/10.1186/s13756-020-0685-1</em></a></td>
</tr>
<tr class="even">
<td>Ponnampalavanar, S., Kukreja, A., Amir, A. and Mahmud, R. First case
report of paragonimiasis in a Malaysian man. Tropical Biomedicine 37(1):
24–28 (2020)</td>
</tr>
<tr class="odd">
<td><p>L.S. Loong, S. Ponnampalavanar, P.S.M. Lai, S.F. Syed Omar, A.
Sohail, P.L. Wong, H.C. Ong, A. Kukreja, R.X. Ng, L.T. Tan, C.H. Tan,
C.E. Lee, K.Y. Lim, K. Thursky, R. James: Antimicrobial prescribing
trends and appropriateness in a tertiary teaching hospital in Malaysia
(IJID Vol 101) Dec 2020.</p></td>
</tr>
<tr class="even">
<td>Chong Meng Li, Hanis Suraiya Roslan …. Anjanna Kukreja, Sharifah
Faridah Syed Omar, Lee Hong Gee, Reena Rajasuriar: Exploring preference
for mental health screening and interventions among people living with
HIV. Asia Pacific AIDS and Co-Infections Conference (APACC) 2020.</td>
</tr>
<tr class="odd">
<td>Kejal Hasmuk., Nor Izzati Saedon, ….<strong> </strong>Anjanna
Kukreja, Adeeba Kamarulzaman: Understanding COVID in the Vulnerable
(UNCOVER) - experience from a Tertiary Centre in Malaysia. European
Geriatric Medicine Society e-congress (2020)</td>
</tr>
<tr class="even">
<td>M.L. Chong, P.L. Wong, C.Y. Chang, A. Kukreja, M. Neelamegam, R.
Rajasuriar: Community perspectives on function and quality of life in
people living with HIV in Malaysia: Are we measuring it right?
International AIDS Society (2020)</td>
</tr>
<tr class="odd">
<td>Ng R.X., Omar, S.F.S, Basri S., Ponnampalavanar, S., Sohail A., Wong
P.L, Sulaiman H., Ong H.C., Kukreja A<strong>.</strong>, Johari B.M.,
Azwa I., Munusamy V., Loh T.C., Chin K.K, Ibrahim N.H., Tan J.L, Poh
M.E, Wong C.K, Pang Y.K, Kamaruzzaman SB, Kamarulzaman A (2020).
Prevalence of SARS-CoV-2 infection among patients admitted with severe
acute respiratory illness (SARI) at a tertiary center in Malaysia</td>
</tr>
<tr class="even">
<td>Wong PL, Sii HL, P'Ng C K, Ee SS, Yong Oong X, Ng KT, et al. The
effects of age on clinical characteristics, hospitalization and
mortality of patients with influenza-related illness at a tertiary care
centre in Malaysia. Influenza Other Respir Viruses. 2020. </td>
</tr>
<tr class="odd">
<td>Wong PL, Chong ML, Chang CY, Neelamegam M, Kukreja A, Rajasuriar R.
Aging with Human Immunodeficiency Virus (HIV) in Malaysia: What matters
most to the HIV community? 19th International Congress on Infectious
Diseases (ICID), 10-13 September 2020, Kuala Lumpur, Malaysia.</td>
</tr>
<tr class="even">
<td>Ong, S.Y., Tang, M.M., Dalawi, I., Tan, W.C., Yeoh, C.A., Kho, W.M.,
Muniandy, P., Wong, P.L<strong>.</strong>, Velayuthan, R.D., Kwan, Z.,
Ch'ng, C.C., Mohd Noor, N.M., Krishnasamy, V., &amp; Johar, A. (2020).
Human Immunodeficiency Virus-infected men who have sex with men with
syphilis: A 5-year multicentre study in Malaysia. Medical Journal of
Malaysia, 75(4), 349-355.</td>
</tr>
<tr class="odd">
<td><p>Ng, R.X., Johari, B. M., Kuppusamy, P., Ponnampalavanar, S.,
&amp;amp; Sohail, A. (2020). A quality improvement study to reduce
peripheral intravenous catheter-related complications in the medical
ward of a tertiary hospital in Malaysia. International Journal of
Infectious Diseases, 101, 311–312.</p></td>
</tr>
<tr class="even">
<td><p>Ng Rong Xiang, Guadamuz, T. E., Akbar, M., Kamarulzaman, A.,
&amp;amp; Lim, S. H. (2020). Association of co-occurring psychosocial
health conditions and HIV infection among MSM in Malaysia: Implication
of a syndemic effect. International Journal of STD and AIDS, 31(6),
568–578.</p></td>
</tr>
<tr class="odd">
<td>Yunihastuti E, Teeratakulpisarn N, Jeo WS, Nilasari H, Rachmadi L,
Somia IKA, Sukmawati MDD, Amijaya KAT, Yee IA, Hairunisa N, Hongchookiat
P, Trachunthong D, Pankam T, Nonenoy S, Ramautarsing R, Azwa I, Merati
TP, Phanuphak P, Phanuphak N, Palefsky JM. Incidence, clearance,
persistence and factors related with high-risk anal HPV persistence in
South-East Asian MSM and transgender women. AIDS. 2020 Nov
1;34(13):1933-1941. (WoS)</td>
</tr>
<tr class="even">
<td>Shrestha R, Galka JM, Azwa I, Lim SH, Guadamuz TE, Altice FL,
Wickersham JA. Willingness to Use HIV Self-Testing and Associated
Factors Among Transgender Women in Malaysia. Transgend Health. 2020 Sep
2;5(3):182-190. (WoS)</td>
</tr>
<tr class="odd">
<td>Ross J, Jiamsakul A, Kumarasamy N, Azwa I, Merati TP, Do CD, Lee MP,
Ly PS, Yunihastuti E, Nguyen KV, Ditangco R, Ng OT, Choi JY, Oka S, Sohn
AH, Law M. Virological failure and HIV drug resistance among adults
living with HIV on second-line antiretroviral therapy in the
Asia-Pacific. HIV Med. 2020 Nov 5. (WoS)</td>
</tr>
<tr class="even">
<td>Han WM, Jiamsakul A, Jantarapakde J, Yunihastuti E, Choi JY,
Ditangco R, Chaiwarith R, Sun LP, Khusuwan S, Merati TP, Do CD, Azwa I,
Lee MP, Van Nguyen K, Chan YJ, Kiertiburanakul S, Ng OT, Tanuma J,
Pujari S, Zhang F, Gani YM, Sangle S, Ross J, Kumarasamy N; the TREAT
Asia HIV Observational Database (TAHOD) of IeDEA Asia-Pacific.
Association of body mass index with immune recovery, virological failure
and cardiovascular disease risk among people living with HIV. HIV Med.
2020 Nov 17. (WoS)</td>
</tr>
<tr class="odd">
<td>Han WM, Bijker R, Chandrasekaran E, Pujari S, Ng OT, Ly PS, Lee MP,
Van Nguyen K, Chan YJ, Do CD, Choi JY, Chaiwarith R, Merati TP,
Kiertiburanakul S, Azwa I, Khusuwan S, Zhang F, Gani YM, Tanuma J,
Sangle S, Ditangco R, Yunihastuti E, Ross J, Avihingsanon A. Validation
of the D: A: D Chronic Kidney Disease Risk Score Model Among People
Living With HIV in the Asia-Pacific. J Acquir Immune Defic Syndr. 2020
Dec 1;85(4):489-497 (WoS)</td>
</tr>
<tr class="even">
<td>Mohamed AK, Raja IA, Rukumani DV. An epidemiological study of
syphilis and predictors of treatment failure in University Malaya
Medical Centre. Med J Malaysia. 2020 May;75(3):199-203 (SCOPUS)</td>
</tr>
</tbody>
</table>

## 2019

<table>
<tbody>
<tr class="odd">
<td>Lim, S. Mohd Sazlly, et al. "Clinical prediction models for ESBL
Enterobacteriaceae colonization or infection: a systematic review."
Journal of Hospital Infection 102.1 (2019): 8-16.</td>
</tr>
<tr class="even">
<td>Ly Sia Loong, Pauline SM Lai, Asma Sohail, Hang Cheng Ong, Anjanna
Kukreja, Rong Xiang Ng, Karin Thursky, Rod James, Sasheela
Ponnampalavanar: Antimicrobial prescribing patterns and its
appropriateness in medical patients at a tertiary teaching hospital</td>
</tr>
<tr class="odd">
<td><p>Sasheela Ponnampalavanar, Suzana Saaibon, Rosliza Zhazali, Siti
Shuhaida Samsudin, Haryani Che Hamzah, Norziah Ghazali, Tengku Malia
Diana Tengku Mat, Rafiedah Hassan, Juliana Sarijo, Norzalina Razali,
Siti Norintan Zainon, Masita Ishak, Elsha Shu Ying Liew, Sheron Sir Loon
L. Goh, Hang Cheng Ong, Anjanna Kukreja (2019). Annual Surveys for
Point-prevalence of Healthcare-Associated Infection in a Tertiary
Teaching Hospital in Malaysia, 2016 - 2018 (2019)</p></td>
</tr>
<tr class="even">
<td><p>Trends in mortality among ART treated HIV infected adults in the
Asia Pacific region between 1999 and 2017: results from the TREAT Asia
HIV Observational Database (TAHOD) and Australian HIV Observational
Database (AHOD) of IeDEA Asia Pacific In Young Jung, 1 , 2 Dhanushi
Rupasinghe, 3 Ian Woolley, 4 , 5 Catherine C O'Connor, 3 , 6 , 7
Michelle Giles, 5 Raja ISR Azwa, 8 Jun Yong Choi,corresponding author 2
, 9 and IeDEA Asia Pacific (WoS)</p></td>
</tr>
<tr class="odd">
<td><p>Performance of a Novel Low-Cost, Instrument-Free Plasma
Separation Device for HIV Viral Load Quantification and Determination of
Treatment Failure in People Living with HIV in Malaysia: a Diagnostic
Accuracy Study. Pham MD1,2, Haile BA3,2, Azwa I4, Kamarulzaman A4, Raman
N4, Saeidi A5, Kahar Bador M4, Tan M4, Zhu J6, Feng Y6, Elliott JH2,
Garcia ML3, Li F3, Crowe SM3,2, Luchters S#3,2,7,8, Anderson DA#3,6.
(WoS)</p></td>
</tr>
<tr class="even">
<td>Proteomics analysis of blood plasma in HIV-infected patients with
chronic kidney disease. Lavinya AA1, Lee CS2, Hashim OH3, Azwa I4,
Rajasuriar R5, Lim SK6, Wong YF7. (WoS)</td>
</tr>
<tr class="odd">
<td>Lavinya, AA; Lee, CS; Hashim, OH; Azwa, I; Rajasuriar, R; Lim, SK;
Wong, YF 2019. Proteomics analysis of blood plasma in HIV-infected
patients with chronic kidney disease. CLINICAL BIOCHEMISTRY (WoS)</td>
</tr>
</tbody>
</table>

## 2018

<table>
<tbody>
<tr class="odd">
<td>Low, Joo Zheng, et al. "Is the risk of tenofovir‐induced
nephrotoxicity similar in treatment‐naïve compared to
treatment‐experienced patients?." Journal of Pharmacy Practice and
Research 48.3 (2018): 242-250.</td>
</tr>
<tr class="even">
<td>Abdul Aziz, Siti Azdiah, et al. "Assessment of sarcopenia in virally
suppressed HIV-infected Asians receiving treatment." Aids 32.8 (2018):
1025-1034.</td>
</tr>
<tr class="odd">
<td><p>Kared H, Martelli S, Tan SW, Simoni Y, Chong ML, Yap SH, Newell
EW, Pender SLF, Kamarulzaman A, Rajasuriar R, Larbi A. Adaptive
NKG2C<sup>+</sup>CD57<sup>+</sup> Natural Killer Cell and Tim-3
Expression During Viral Infections. Front Immunol. 2018 Apr 20;9:686.
doi: 10.3389/fimmu.2018.00686. PMID: 29731749; PMCID:
PMC5919961.</p></td>
</tr>
<tr class="even">
<td><p>Mukherjee T, Sakthivel R, Fong HY, McStea M, Chong ML, Omar SF,
Chin AV, Kamaruzzaman S, Kamarulzaman A, Rajasuriar R, Cysique LA.
Utility of Using the Montreal Cognitive Assessment (MoCA) as a Screening
Tool for HIV-Associated Neurocognitive Disorders (HAND) In Multi-Ethnic
Malaysia. AIDS Behav. 2018 Oct;22(10):3226-3233. doi:
10.1007/s10461-018-2073-x. PMID: 29508103; PMCID: PMC6123290. </p></td>
</tr>
</tbody>
</table>



{% endrenderTemplate %}
</article>





