---
layout: "sidebar"

title: Infectious Disease Team

unit: Infectious Disease

navitems:
    - label:  Introduction
      url:   /units/infectiousdisease
    - label:  Team
      url:   /units/infectiousdisease/team
    - label:  Publications
      url:   /units/infectiousdisease/publications
    - label:  Research
      url:   /units/infectiousdisease/research


titleimage: "/static/img/units/id.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Clinical Studies

## HIV

| Title of the studies/trials         | Funding source     |
|--------------|-----------|
| Evaluation of gaps in Cervical Cancer Screening and Prevention among women living with HIV (WLHIV) in a tertiary teaching hospital in Malaysia. 2021 – 2023 | DOM UM-RSFG Grant      |
| Facilitators and Barriers to Integrating Mental Health Services into routine outpatient HIV Clinical Care for women living with HIV (WLWH) at the University Malaya Medical Centre, Malaysia      | amfAR, The Foundation for AIDS Research, with support from the US National Institutes of Health’s Fogarty International Center and the National Institute of Mental Health (CHIMERA; D43TW011302)  | 
| Assessment of Tuberculosis Prophylaxis Therapy in HIV patients in University Malaya Medical Centre: A Retrospective Cross-sectional Study, 2019 - 2021     | No funding | 
| Neurocognitive disorders among people living with HIV in Malaysia, 2019 – 2021      | Fogarty International Center and the National Institute of Stroke and Neurological Disorders, National Institutes of Health  | 
| Substance use, Stigma, Depression and Disability among Adults with HIV in Asia (S2D2) Pilot Study, 2019-2020      | Therapeutics Research, Education and AIDS Training in Asia (TREAT Asia), The Foundation for AIDS Research, amfAR, with funding from the US National Institutes of Health | 
| Facilitators and barriers to the integration of screening for HIV-associated Neurocognitive Disorders (HAND) in routine clinical care among people living with HIV (PLHV) at a tertiary care centre in Malaysia      | amFAR, The Foundation of AIDS Research with the support from the US National Institutes of Health  | 
| Pre-implementation study to the integration of screening for HIV-associated Neurocognitive Disorders (HAND) in routine clinical care among people living with HIV at a tertiary care centre in Malaysia      | UM Partnership Grant  | 
| Willingness to Use Pre-Exposure Prophylaxis (PrEP) for HIV prevention among female sex workers in Malaysia      | Yale University  | 
| Retrospective review of Kaposi Sarcoma among HIV patients  | No funding | 
| D2EFT: Dolutegravir and Darunavir Evaluation in Adults Failing Therapy A Phase IIIB/IV randomised open-label trial to compare dolutegravir with pharmaco-enhanced darunavir versus dolutegravir with predetermined nucleosides versus recommended standard of care antiretroviral regimens in patients with HIV-1 infection who have failed recommended first line therapy.     | Kirby Institute  | 
| GILEAD: GS-US-380-4458 A phase 3, randomised, double blind study to evaluate the safety and efficacy of fixed dose combination of Bictegravir/Emtricitabine/Tenofovir Alafenamide versus Dolutegravir + Emtricitabine/Tenofovir Disoproxil Fumarate in treatment Naive, HIV-1 and hepatitis B co-infected adults.      | Gilead Sc. Inc.   | 
| Developing an artificial intelligence-based M-health intervention to increase HIV testing in Malaysia      | US NIH in collaboration with Yale University | 
| Developing An Artificial Intelligence Chatbot To Promote Hiv Testing     | NIH in collaboration with Yale University | 
| Development And Testing Of A Mobile Application To Enhance Hiv Prevention Cascade In Malaysia MSM    | NIH in collaboration with University of Connecticut | 
| Scaling Up HIV PrEP in primary care and community based organizations    | Global Fund | 
| IeDEA Asia-Pacific Research Collaboration: TREAT Asia HIV Observational Database (TAHOD)      | US NIH | 
| Facilitators and barriers to the integration of depression and substance use screening and linkage to care in an infectious disease clinic of a tertiary-care hospital in Malaysia    | amFAR, The Foundation of AIDS Research with the support from the US National Institutes of Health  | 

## Harm reduction

| Title of the studies/trials         | Funding source     |
|--------------|-----------|
| Young People’s Opinions on Drug Policy, and Drug Use Trends and HIV risk behaviours in Malaysia (YOUTH) – ‘Project Youth’      | UNODC | 

## Infection control

| Title of the studies/trials         | Funding source     |
|--------------|-----------|
| Knowledge, Attitude and Perception of Infection Control Among Health Care Workers in University Malaya Medical Centre (UMMC), 2019 – 2022      | No funding  | 
| Evaluation and Recommendation for Infection Control in Malaysia (MY-ERIC): Integration of multifaceted approaches to reduce multidrug-resistant organisms infections in Malaysia. Subproject 4(SP4): Infection control and antibiotic stewardship program to improve patient’s outcome, 2022 - 2024     | Trans-disciplinary Research Grant Scheme  (TRGS Grant)  | 


## Antimicrobial Stewardship/Antimicrobial Resistance 

| Title of the studies/trials         | Funding source     |
|--------------|-----------|
| A Clinically-Oriented Antimicrobial Resistance Surveillance Network for Healthcare-associated infections ACORN-HAI study      | Wellcome Trust  | 
| Identifying targets for quality improvement in antimicrobial prescribing in a Malaysian critical care areas in a tertiary care university teaching hospital: a repeated point prevalence survey, 2022 to 2023      | Trans-disciplinary Research Grant Scheme  (TRGS Grant)  | 
| Diagnostic Approaches in Severe Pneumonia (D-PRISM) study      | European Society of Clinical Microbiology and Infectious Diseases (ESCMI)  | 
| Epidemiology and determinants of outcomes of Hospital Acquired Blood Stream Infections in the Intensive Care EUROBACT-2      | European Society of Clinical Microbiology and Infectious Diseases (ESCMI)  | 
| Knowledge, attitude, perception and prescribing patterns of pneumonia in the emergency department      | No funding  | 
| Improving appropriate use of Meropenem in University Malaya Medical Centre (UMMC), Malaysia       | Pfizer  | 

## Gram-positive bacteria 

| Title of the studies/trials         | Funding source     |
|--------------|-----------|
| Staphylococcus aureus bacteremia among COVID patients        | No funding  | 

## Gram-negative bacteria 

| Title of the studies/trials         | Funding source     |
|--------------|-----------|
| Investigator Driven Randomized Controlled Trial of Cefiderocol versus Standard Therapy for Healthcare Associated and Hospital Acquired Gram-negative Blood Stream Infection GAME CHANGER study      | Shionogi | 
| Early oral step-down antibiotic therapy versus continuing intravenous therapy for uncomplicated Gram-negative bacteremia INVEST study      | Singapore’s National Research Foundation Central Gap Fun  | 

## SARS-CoV2 

<table>
<tbody>
<tr class="odd">
<td>Title of the studies/trials</td>
<td>Funding source</td>
</tr>
<tr class="even">
<td>Assessment of post-acute COVID syndrome and serological response in
confirmed COVID-19 patients in the University of Malaya Medical
Centre</td>
<td>UMSC CARE Grant</td>
</tr>
<tr class="odd">
<td><p>A Randomised, Double-Blind, Placebo-Controlled, Phase III Study
to Evaluate the Safety and Efficacy of Aerosolised Novaferon + SOC vs.
Placebo + SOC in Hospitalised Adult Patients with Moderate to Severe
COVID-19, 2021 – 2022</p></td>
<td>Industry sponsored Genova Inc</td>
</tr>
<tr class="even">
<td>SOLIDARITY TRIAL PLUS, 2021 – 2022</td>
<td>World Health Organization</td>
</tr>
<tr class="odd">
<td>Assessing immune responses to COVID-19 vaccination among people
living with HIV (PLWH), 2021 - 2023,</td>
<td>No funding</td>
</tr>
<tr class="even">
<td>Clinical Characteristics of COVID-19 affected individuals in UMMC: a
retrospective analysis, 2020 – 2022</td>
<td>No funding</td>
</tr>
<tr class="odd">
<td>Stigma, resilience, and COVID-19 in healthcare workers working at a
tertiary care centre in Malaysia. 2020 – 2021</td>
<td>No funding</td>
</tr>
<tr class="even">
<td>Evaluation of home monitoring system for patients with COVID-19
(CoSMoS) in University Malaya Medical Centre, 2021</td>
<td>No funding</td>
</tr>
<tr class="odd">
<td>An Open-label, Randomised, Adaptive Cross-over Interventional Study
to Evaluate the Efficacy of Tocilizumab versus Corticosteroids in
hospitalised COVID-19 patients with high risk of progression, 2020.</td>
<td>Tocilizumab</td>
</tr>
<tr class="even">
<td><p>Learning and delivering healthcare through lenses; the usage of
smart glasses and telemedicine in caring for patients with infectious
disease and medical education in the era of a pandemic, 2020</p></td>
<td>No funding</td>
</tr>
<tr class="odd">
<td>World Heart Federation (WHF) COVID-19 and Cardiovascular Disease
Study</td>
<td>World Heart Federation</td>
</tr>
</tbody>
</table>

## Antimicrobial PK/PD

<table>
<tbody>
<tr class="odd">
<td>Title of the studies/trials</td>
<td>Funding source</td>
</tr>
<tr class="even">
<td><p>Randomised controlled trial of continuous beta-lactam infusion
compared with intermittent beta-lactam dosing in critically ill
patients</p>
<p><strong>BLING III </strong>study</p></td>
<td>Australian National Health and Medical Research Council</td>
</tr>
<tr class="odd">
<td><p>Population Pharmacokinetics and Pharmacodynamics of Colistin and
Polymyxin B in Non-Critically Ill and Critically Ill Patients with
Multidrug-resistant Gram-negative Bacterial Infections</p>
<p><strong>COLLABORATE </strong>study</p></td>
<td>International Society of Antimicrobial Chemotherapy</td>
</tr>
<tr class="even">
<td>Pneumonia dosing in critically ill patients <strong>PNEUDOS</strong>
study</td>
<td>Australian National Health and Medical Research Council</td>
</tr>
</tbody>
</table>

## Other infections


| Title of the studies/trials         | Funding source     |
|--------------|-----------|
| Epidemiology and Etiology of Wound Infections in Southeast Asia - Malaysia, 2020 – 2023      | Naval Medical Research Unit Two (NAMRU-2)   | 






{% endrenderTemplate %}
</article>