---
layout: "triplecolumn"

title: Neurology

unit: Neurology

navitems:
    - label:  Introduction
      url:   /units/neurology
    - label:  Team
      url:   /units/neurology/team
    - label:  Publications
      url:   /units/neurology/publications
    - label:  Research
      url:   /units/neurology/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---

<article class="prose lg:prose-md">
{% renderTemplate "md" %}
# Neurology Unit
<figure class="hidden md:inline float-right">
  <img alt="HOD" class=" m-0 p-0  w-48 max-auto " src="/static/img/portraits/image37.png"/>
            <figcaption class=" px-4 py-4 text-center text-sm font-base"><p>Prof. Dato' Dr. Goh Khean Jin<p><p>Head of Unit</p></figcaption>
  </figure>
The nephrology unit is one of the subspecialized units within the Department of Medicine. 
It provides various services, training, and research in the field of nephrology.

{% endrenderTemplate %}
</article>



