---
layout: "sidebar"


title: Neurology

unit: Neurology

navitems:
    - label:  Introduction
      url:   /units/neurology
    - label:  Team
      url:   /units/neurology/team
    - label:  Publications
      url:   /units/neurology/publications
    - label:  Research
      url:   /units/neurology/research

linkitems:


titleimage: "/static/img/units/id.jpg"
---


<article class="prose lg:prose-md">
{% renderTemplate "md" %}

# Active clinical trials

(insert list here)


{% endrenderTemplate %}
</article>