
{% include "../src/_includes/partials/nav.njk" %}
{% include "../src/_includes/partials/newsblock.njk" %}

{% include "./_includes/partials/about.njk" %}

{% include "./_includes/partials/events.njk" %}



{% include "./_includes/partials/footer.njk" %}

