  <div class="grid grid-cols-4 gap-3 p-8 ">
    <div  class="grid grid-cols-1 sm:content-start">
    <div class="rounded-lg bg-red-300 p-4 translate-y-10">
      <h2>Action</h2>
      <ul>
        <li>link1</li>
        <li>link1</li>
        <li>link1</li>
      </ul>
    </div>
    </div>
    <div class="col-span-2">
      <h1 class="text-3xl font-bold">Introduction</h1>
      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure consectetur labore voluptatibus, harum modi tenetur incidunt illum! Assumenda, omnis, nesciunt, quis ea neque quidem error alias voluptatum doloremque ab laudantium. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis delectus distinctio pariatur et tempore animi sit, nesciunt culpa cupiditate, non impedit voluptatibus consectetur, debitis quisquam minus ipsa consequatur. Harum, sequi.</p>
    </div>
  </div>
