



<!-- Footer -->

<footer class="body-font text-gray-600">
  <div class="container mx-auto flex flex-col items-center px-5 py-8 sm:flex-row">
    <a class="title-font flex items-center justify-center font-medium text-gray-900 md:justify-start" href="/">
      
              <img class="h-full  p-2" src = "/static/img/logo.svg" alt="My Happy SVG"/>
    </a>
    <p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:mt-0 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:pl-4">
      © {{ page.date | justYear }} Department of Medicine
    </p>
  </div>
</footer>

<!-- Footer end -->

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}


</body>
</html>