{% macro unitintro(unit, head, intro, titleimage) %}


<div class="w-full bg-center bg-cover" style="background-image: url({{ titleimage }})">
<div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 py-12">
  <div class="text-center">
    <div class="container px-4 mx-auto">
      <div class="max-w-4xl mx-auto text-center">
        <h2 class="mt-8 mb-6 text-4xl lg:text-5xl font-bold text-gray-100">{{ unit }}</h2>
      </div>
    </div>
  </div>
</div>
</div>

{% endmacro %}